.action-section{margin-top: -80px; z-index: 1; position: relative; }
ul.action-links{padding: 40px 0; gap: 32px; margin: 0;}
ul.action-links > li{margin: 0; flex: 1; border: 1px solid var(--Blue-Reverse); padding: 8px;}
ul.action-links > li::before{display: none;}
ul.action-links > li > a{gap: 16px; background: var(--White); padding: 16px; font-size: 20px; line-height: 25px; color: var(--Dark); height: 100%;}
.action-link-text{flex: 1; font-size: 20px; line-height: 25px;}
.action-link-icon{flex: 0 0 21px;}
.action-link-icon > em{color: var(--Blue); transition: var(--b-transition);}
.action-link-icon > em:first-child{left: 0; opacity: 0; position: absolute; transform: translateX(calc(-100% - 10px));}

.action-section ul.action-links > li > a{box-shadow: 0 12px 32px 0 var(--Black-15);}


@media screen and (min-width: 810px) {
    /* ul.action-links > li > a{flex-direction: row-reverse;} */
    ul.action-links > li:hover .action-link-icon > em:first-child{ opacity: 1; transform: translateX(0); }
    ul.action-links > li:hover .action-link-icon > em:last-child{opacity: 0;}
    ul.action-links > li:hover {background-color: rgba(51, 122, 221, .4); border-color: rgba(51, 122, 221, .4);}
}

@media screen and (max-width: 1023px) and (min-width: 810px) {


    
    ul.action-links{gap: 24px; padding: 32px 0;}
    ul.action-links > li{flex: 0 0 calc(50% - 12px);}



}

@media screen and (max-width: 809px) and (min-width: 200px) {

ul.action-links{display: block;}
ul.action-links > li{margin-bottom: 23px;}
    ul.action-links > li > a { height: 100%; }

.page-template-campaign .action-section{display: none;}
}