
.calculator-intro-content.no_icon{padding-right: 0;}
.calculator-intro-content ul.breadcrumbs{margin: 0 0 24px;}
.calculator-intro-content ul.breadcrumbs > li{font-weight: 700;}
.calculator-intro-content ul.breadcrumbs > li:last-child{font-weight: 400;}
.intro-yellow .calculator-intro-content ul.breadcrumbs > li a, 
.intro-yellow .calculator-intro-content ul.breadcrumbs > li:first-child{color: var(--Light-Brown);}
.intro-yellow .calculator-intro-content ul.breadcrumbs > li a:hover{color: var(--Black);}
.intro-blue .calculator-intro-content ul.breadcrumbs > li a,
.intro-blue .calculator-intro-content ul.breadcrumbs > li:first-child{color: var(--Blue);}
.intro-blue .calculator-intro-content ul.breadcrumbs > li a:hover{color: var(--Black);}
.intro-red .calculator-intro-content ul.breadcrumbs > li a,
.intro-red .calculator-intro-content ul.breadcrumbs > li:first-child{color: var(--RF-Red);}
.intro-red .calculator-intro-content ul.breadcrumbs > li a:hover{color: var(--Black);}
.intro-purple .calculator-intro-content ul.breadcrumbs > li a,
.intro-purple .calculator-intro-content ul.breadcrumbs > li:first-child{color: var(--RF-Purple);}
.intro-purple .calculator-intro-content ul.breadcrumbs > li a:hover{color: var(--Black);}
.intro-aquamarine .calculator-intro-content ul.breadcrumbs > li a,
.intro-aquamarine .calculator-intro-content ul.breadcrumbs > li:first-child{color: var(--RF-Aquamarine);}
.intro-aquamarine .calculator-intro-content ul.breadcrumbs > li a:hover{color: var(--Black);}

.calculator-intro-content h1{font-size: 48px; letter-spacing: -0.96px; margin-bottom: 24px;}

.intro-yellow .calculator-intro-icon svg path{stroke: var(--Yellow-3);}
.intro-blue .calculator-intro-icon svg path{stroke: var(--Blue);}
.intro-red .calculator-intro-icon svg path{stroke: var(--RF-Red);}
.intro-purple .calculator-intro-icon svg path{stroke: var(--RF-Purple);}
.intro-aquamarine .calculator-intro-icon svg path{stroke: var(--RF-Aquamarine);}
.calculator-intro-icon-inner{height: 128px; padding: 24px; width: 128px;}
.calculator-intro-icon-inner svg{width: 80px; height: 80px;}
.calculator-intro-rect{clip-path: polygon(0 0,100% 100%,100% 0);}
.calculator-intro-line{top: 0; display: block; height: calc(100% + 80px); right: -2px; width: 2px;}
.intro-yellow .calculator-intro-line{background-color: var(--Yellow-3);}
.intro-blue .calculator-intro-line{background-color: var(--Blue);}
.intro-red .calculator-intro-line{background-color: var(--RF-Red);}
.intro-purple .calculator-intro-line{background-color: var(--RF-Purple);}
.intro-aquamarine .calculator-intro-line{background-color: var(--RF-Aquamarine);}




@media screen and (min-width: 1024px) {
    .calculator-intro-main{padding: 80px 0;}
    .calculator-intro-content{width: 100%; padding-right: 250px;}
    
}

@media screen and (min-width: 810px) {
    .calculator-intro-content{position: relative;}
    .calculator-intro-icon{right: 42px; top: 0; height: 100%;}
}
@media screen and (max-width: 1023px) and (min-width: 810px){
    .calculator-intro-main{padding: 64px 0;}
    .calculator-intro-content{width: 100%; padding-right: 250px;}
    .calculator-intro-line{height: calc(100% + 64px);}
    
}
@media screen and (max-width: 809px) and (min-width: 200px){
    .calculator-intro-main{padding: 40px 0;}
    .calculator-intro-content h1{font-size: 36px; letter-spacing: -.72px; margin-bottom: 24px;}
    .calculator-intro-inner{position: relative;}
    .calculator-intro-icon-inner{height: 80px; padding: 16px; width: 80px;}
    .calculator-intro-desc{padding-right: 126px; font-size: 16px; line-height: 24px;}
    .calculator-intro-icon{right: 20px; top: 0; height: 100%;}
    .calculator-intro-icon-inner svg{width: 48px; height: 48px;}
    .calculator-intro-line {height: calc(100% + 40px);}
}


