.campaign-main{padding: 80px 0;}
.campaign-wrap{gap: 80px;}
.campaign-lt hr{background-color: var(--Blue); margin:  0 0 21px;}
.campaign-lt h2{margin-bottom: 10px;}

a.text-link em, a.text-link:hover{color: var(--Blue);}
.campaign-rt > h3:not(:first-child) {margin-top: 55px;}
.campaign-rt .default-image-caption {
    margin: 60px 0 50px;
  }
@media only screen and (min-width: 1024px){
    .campaign-main{padding: 80px 0 230px;}
    .campaign-lt{flex: 0 0 350px;}
    .campaign-rt{flex: 1;}


}

@media only screen and (max-width: 809px) and (min-width: 200px){
.campaign-wrap{display: block;}
.campaign-main { padding: 40px 0 24px; }
.campaign-lt ul.toc-links {padding: 5px 0 16px;}
.campaign-rt .default-line-wrap { padding: 40px 0 22px; }

}