


.carousel-slider-slide{ width: 100%; padding: 80px; height: 100%; }
.carousel-slider-text h2{color: var(--White); font-size: 48px; max-width: 1104px; margin:0 auto; padding: 0 30px;}

@media screen and (min-width: 810px) {
  .carousel-slider-slide{min-height: 420px; display: flex !important;}
  .carousel-slider-thumb { height: 304px; width: 186px; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; content: ""; z-index: -1;}
    .carousel-slider-arrow{background: var(--Black-20); cursor: pointer; height: 100%; top: 0; width: 88px; z-index: 1; }
    .carousel-slider-prev{left: 0;}
    .carousel-slider-next{right: 0;}
    .carousel-slider-appends{display: none;}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .carousel-slider-text h2 {font-size: 40px;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .carousel-slider-appends{top: auto; bottom: 0; padding: 20px 24px;}
    .carousel-slider-appends .slick-arrow{background: var(--Black-20);}
    .carousel-slider-text { padding: 24px 0 ; }
    .carousel-slider-text h2 {padding: 0; font-size: 36px;}
    .carousel-slider-slide {padding: 40px 24px 105px;}
    .carousel-slider-thumb{position: relative;}
    .carousel-slider-thumb picture img{max-width: 30px; margin: auto;}
    .carousel-slider-thumb::before, .carousel-slider-thumb::after{ position: absolute; width: calc(50% - 32px); top: 50%; content:""; display: block; height: 1px; background-color: var(--White-50);}
    .carousel-slider-thumb::before{left: 0;}
    .carousel-slider-thumb::after{right: 0;}

    .carousel-slider-appends ul.slick-dots:not(.pagination) li { border: 1px solid var(--Black); }
    .carousel-slider-appends ul.slick-dots:not(.pagination) li.slick-active { background-color: var(--White); border-color: var(--White);}
     

  }