


.cta-investment-wrap{margin-top: -72px; padding: 6px;}
.cta-investment-bg{padding: 32px;  box-shadow: 0px 12px 32px 0px var(--Black-15);}
.cta-investment-form{padding: 12px 12px 12px 20px;background: rgba(39, 114, 219, 0.10);}
.cta-investment-form label{gap: 12px;}
.cta-investment-form input{width: fit-content; max-width: 55px; padding: 12px; background-color: var(--White); font-size: 24px; line-height: 24px; color: var(--Blue); border: none;}
.cta-investment-form .selectBox-dropdown{width: fit-content; border: 1px solid rgba(39, 114, 219, 0.25); background-color: var(--White); color: var(--Black-20); font-size: 24px; line-height: 24px;}
.cta-investment-arrow{animation: bounceInRight 2s ease-in-out infinite;}
@keyframes bounceInRight {
    0% {
      transform:translateX(-20px)
    }
    50% {
      transform:translateX(0)
    }
    100% {
      transform:translateX(-20px)
    }
  }

.investment-form-main{max-height: 0; overflow: hidden;}
.investment-form-main hr{margin-top: 32px;}
.investment-field{gap: 8px; width: fit-content; flex-direction: row-reverse; justify-content: flex-end;}
.investment-field label{padding: 0; cursor: pointer;}
.investment-field input[type="checkbox"]{width: 32px; height: 32px; padding: 0; margin: 0;
    border: 1px solid rgba(39, 114, 219, 0.25);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), var(--Blue);
}


/*-- media css --*/
@media only screen and (min-width: 1024px){
    .cta-investment-main{gap: 37px;}
    .cta-investment-form{flex: 1;}
    .investment-form{gap: 32px;}
    .investment-field{flex: 1 0 calc(25% - 32px);}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .cta-investment-main{padding: 32px; gap: 37px;}
    .cta-investment-form{flex: 1;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .cta-investment-main{padding: 24px; gap: 24px; flex-direction: column; text-align: center;}
    .cta-investment-form label{justify-content: center;}
}