

.cta-investment-wrap{margin-top: -72px; padding: 6px;}
.cta-investment-bg{padding: 32px;  box-shadow: 0px 12px 32px 0px var(--Black-15);}
.cta-investment-form{padding: 12px 12px 12px 20px;background: rgba(39, 114, 219, 0.10);}
.cta-investment-field{gap: 10px;}
.cta-investment-form label{gap: 10px; padding: 0; width: fit-content;}
.cta-investment-form input[type="number"]{width: fit-content; padding: 4px 4px 3px; text-align: center; max-width: 55px; background-color: var(--White); font-size: 1.5rem; line-height: 24px; color: var(--Blue); border: 1px solid rgba(39, 114, 219, 0.25);  -moz-appearance: textfield;}
.cta-investment-form input[type="number"]::-webkit-inner-spin-button,
.cta-investment-form input[type="number"]::-webkit-outer-spin-button{margin: 0; appearance: none;}

.cta-investment-form .selectBox-dropdown{padding: 4px 40px 3px 10px; text-transform: lowercase; width: fit-content; border: 1px solid rgba(39, 114, 219, 0.25); background-color: var(--White); color: var(--Black-20); font-size: 1.5rem; line-height: 24px;}
.cta-investment-form .choose .selectBox-arrow{font-size: 1rem; right: 10px;}

.cta-investment-arrow{line-height: 100%; animation: bounceInRight 2s ease-in-out infinite;}
@keyframes bounceInRight {
    0% {
      transform:translateX(-20px)
    }
    50% {
      transform:translateX(0)
    }
    100% {
      transform:translateX(-20px)
    }
  }

.investment-form-main{max-height: 0; overflow: hidden;}
.investment-form-main hr{margin-top: 32px;}
.investment-field{gap: 8px; width: fit-content; flex-direction: row-reverse; justify-content: flex-end;}
.investment-field label{padding: 0; flex: 1; cursor: pointer;}
.investment-field input[type="checkbox"]{width: 32px; height: 32px; padding: 0; margin: 0; border: 1px solid rgba(39, 114, 219, 0.25); background: rgba(39, 114, 219, 0.25);}
.investment-field label ~ input[type="checkbox"]:checked{background: var(--Blue);}
.investment-field label ~ input[type="checkbox"]::before{
  width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6667 1.5L4.25001 7.91667L1.33334 5' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-size: 19px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
  content: "";
  display: block;
  opacity: 0;
  transition: var(--b-transition);
}
.investment-field label ~ input[type="checkbox"]:checked:before{
  opacity: 1;
}

/*-- media css --*/
@media only screen and (min-width: 1024px){
    .cta-investment-main{gap: 37px;}
    .cta-investment-text{flex: 1;}
    .cta-investment-form{flex: 0 0 505px;}
    .investment-form{gap: 32px;}
    .investment-field{flex: 1 0 calc(25% - 32px);}
    .cta-investment-form .selectBox-dropdown{min-width: 184px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
  .cta-investment-text h2{font-size: 1.75rem;}
  .cta-investment-arrow{font-size: 3.375rem;}
  .cta-investment-form{flex: 0 0 470px;}
  .cta-investment-form label{font-size: 1.25rem;}
  .investment-field label{font-size: 1rem; line-height: 100%;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .cta-investment-main{gap: 37px; flex-direction: column; text-align: center;}
    .cta-investment-form{flex: 1; padding: 12px 16px 12px; max-width: 503px;}
    .investment-form{gap: 24px 32px;}
    .cta-investment-field{justify-content: center;}
    .cta-investment-form .selectBox-dropdown{min-width: 184px;}

}
@media only screen and (min-width: 759px) and (min-width: 560px){
  .investment-form{gap: 24px;}
  .investment-field{flex: 1 0 calc(50% - 12px);}
  .investment-field label{font-size: 1rem; line-height: 100%;}

}
  @media only screen and (max-width: 759px) and (min-width: 200px){
  .cta-investment-wrap{padding: 7px;}
  .cta-investment-main{gap: 24px; flex-direction: column; text-align: center;}
  .cta-investment-form label{justify-content: center;}
  .cta-investment-text h2{font-size: 1.75rem;}
  .cta-investment-form .selectBox-dropdown{width: 100%;}
  .investment-form{gap: 24px; flex-direction: column;}
  .investment-field{flex: 1;}
  .cta-investment-bg{padding: 24px;}
  .cta-investment-text span.optional-text{padding: 0 20px 3px;}
  .cta-investment-field{justify-content: center;}
} 
@media only screen and (max-width: 640px) and (min-width: 200px){
  .cta-investment-form label:not(:first-child){width: 100%;}
}
@media only screen and (max-width: 389px) and (min-width: 200px){
  .cta-investment-text span.optional-text{padding: 0 0 3px;}
  .cta-investment-text h2{font-size: 1.688rem;}

}