
.customer-support-main{padding: 80px 0; gap:0 78px;}
.customer-support-list{font-size: 16px; font-weight: 400; line-height: 150%; color: var(--Text-Gray)}
.customer-support-list h2{font-size: 32px; font-weight: 600;}
.customer-support-icon img{width: 48px; height: 48px; object-fit: contain; margin-bottom: 16px;}

.customer-support-list-3 { flex: 0 0 calc(33.333% - 52px); }



.customer-links{margin: 0; color: var(--Black);}
.customer-links > li{ line-height: 100%; margin-bottom: 16px;}
.customer-links > li a{ font-weight: 700; font-size: 18px; gap: 12px;}
.customer-links > li i{color: var(--Blue); font-size: 20px; font-weight: 400; width: 20px; text-align: center;}
.customer-links > li::before{display: none;}
.customer-links > li:last-child{display: flex; gap: 12px;}

@media only screen and (max-width: 729px) and (min-width: 200px){

    .customer-support-list{margin-bottom: 48px;}

    .customer-support-main{display: block;}
    .customer-links{display: flex; gap: 12px}
    .customer-links li {flex: 0 0 48%; border: 1px solid var(--Blue);}
    .customer-links > li a{flex-direction: row-reverse; color: var(--Black); justify-content: space-between; padding: 14px 12px;}
    .customer-links > li a:hover{color: var(--Blue);}


}
    