

ul.breadcrumbs{margin: 0 0 39px; gap: 25px;}
ul.breadcrumbs li{margin: 0; color: var(--Black);}
ul.breadcrumbs li::before{display: none;}
ul.breadcrumbs li::after{content: ''; top: 0; right: -13px; width: 2px; height: 20px; background-color: var(--Text-Gray); border-radius: 1px; opacity: 0.5; font-weight: 700; position: absolute; transform: rotate(20deg);}
ul.breadcrumbs li:last-child:after{display: none;}
.default-article h3{padding-top: 21px;}

figure.RF-small{max-width: 51px; margin-top: 39px;}

aside.default-aside h4:not(.h5){margin-bottom: 10px;}
ul.toc-links{margin: 0; padding: 5px 0 27px;}
ul.toc-links li::before{display: none;}
ul.toc-links li{margin: 0 0 9px;}
.sidebar-gray-blk{padding: 40px; margin-bottom: 40px;}
.sidebar-gray-btns{padding: 8px; border: 1px solid var(--Blue);}
.sidebar-gray-btns .button{width: 100%;}

.sidebar-mgt-team:not(:last-child){margin-bottom: 40px;}
.sidebar-mgt-image{margin-bottom: 15px; border: 2px solid var(--Blue); max-width: 88px;}
.sidebar-mgt-image figure{padding: 3px;}
.sidebar-mgt-info h4{margin-bottom: 0;}
.sidebar-mgt-info p{margin-bottom: 9px;}


/*-- media css --*/
@media screen and (min-width: 1024px) {
    .default-article-main{padding: 80px 0 80px; grid-template-columns: 1fr 350px;}
}
@media screen and (max-width: 1023px) and (min-width: 810px) {
}
@media screen and (max-width: 809px) and (min-width: 200px) {
 
}