

ul.breadcrumbs{margin: 0 0 39px; gap: 25px;}
ul.breadcrumbs li{margin: 0; color: var(--Black);}
ul.breadcrumbs li::before{display: none;}
ul.breadcrumbs li::after{content: ''; top: 0; right: -13px; width: 2px; height: 20px; background-color: var(--Text-Gray); border-radius: 1px; opacity: 0.5; font-weight: 700; position: absolute; transform: rotate(20deg);}
ul.breadcrumbs li:last-child:after{display: none;}
ul.breadcrumbs li a:hover{color: var(--Black);}
.default-article h3{padding-top: 21px;}


.default-image-caption { margin-bottom: 37px; } 
.default-caption { padding-left: 15px; } 
.caption-desc { padding: 20px 0 16px 18px; } 
.caption-line { width: 6px; height: 100%; left: 0; top: -4px; } 
.caption-line::after, .caption-line::before{ content: ""; display: block; position: absolute; background-color: var(--Blue); } 
.caption-line::before{ width: 6px; height: 6px; border-radius: 50%; top: 0; left: 0; } 
.caption-line::after{ width: 2px; height: 100%; left: 2px; }
.caption-desc p{line-height: 150%;}

.default-line-wrap { padding:38px 0 55px }
.default-line-in { border-left:2px solid var(--Blue);}
.default-line-text { padding: 22px 0 21px 24px; color: var(--Blue); margin-bottom: 0; }
.default-line-text h4{margin-bottom: 0; color: var(--Blue);}
.default-line-text a{text-decoration: none; color: var(--Blue); }
.default-line-text a:hover{color: var(--Black);}


figure.RF-small{max-width: 51px; margin-top: 39px;}

aside.default-aside h4:not(.h5){margin-bottom: 10px;}
ul.toc-links{margin: 0; padding: 5px 0 27px;}
ul.toc-links li::before{display: none;}
ul.toc-links li{margin: 0 0 9px;}
.sidebar-gray-blk{padding: 40px; margin-bottom: 40px;}
.sidebar-gray-btns{padding: 8px; border: 1px solid var(--Blue);}
.sidebar-gray-btns .button{width: 100%;  justify-content: space-between;}

.sidebar-mgt-image{margin-bottom: 15px; border: 2px solid var(--Blue); max-width: 88px; max-height: 90px;}
.sidebar-mgt-image figure{padding: 3px;}
.sidebar-mgt-image figure img{border-radius: 50%; max-width: 80px; max-height: 80px;}
.sidebar-mgt-info h4{margin-bottom: 0;}
.sidebar-mgt-info p{margin-bottom: 9px;}
aside.default-aside:nth-child(1):last-child{flex: 1;}


/*-- media css --*/
@media screen and (min-width: 1024px) {
    .default-article-main{padding: 80px 0 80px; gap: 80px;}
    article.default-article{flex: 1;}
    aside.default-aside{flex: 0 0 350px;}
    .default-line-in{padding-right: 32px;}
    .sidebar-mgt-team:not(:last-child){margin-bottom: 40px;}
    .sidebar-gray-btns{margin-top: 40px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .default-article-main{gap: 60px;}   
    aside.default-aside{flex: 0 0 300px;}
    .sidebar-gray-btns .button{flex-direction: column; gap: 8px;}
}
@media screen and (max-width: 1023px) and (min-width: 810px) {
    .default-article-main{padding: 61px 0 54px; display: block;}
    .default-article{padding-bottom: 30px;}
    ul.breadcrumbs{width: calc(100% + 24px); margin-bottom: 24px; flex-wrap: nowrap; overflow-x: auto; min-width: fit-content; -ms-overflow-style: none; scrollbar-width: none;}
    ul.breadcrumbs::-webkit-scrollbar{display: none;}
    ul.breadcrumbs li{min-width: fit-content; font-size: 16px;}
    .default-article h2{margin-bottom: 16px;}
    .default-line-wrap{padding: 5px 0 22px;}
    .sidebar-mgt-main{gap: 40px; display: flex; flex-wrap: wrap;}
    .sidebar-mgt-team{flex: 0 0 calc(50% - 20px);}
}
@media screen and (max-width: 809px) and (min-width: 200px) {
    .default-article-main{padding: 41px 0 34px; display: block;}
    .default-article{padding-bottom: 30px;}
    ul.breadcrumbs{width: calc(100% + 24px); padding-right: 24px; margin-bottom: 24px; flex-wrap: nowrap; overflow-x: auto; min-width: fit-content; -ms-overflow-style: none; scrollbar-width: none;}
    ul.breadcrumbs::-webkit-scrollbar{display: none;}
    ul.breadcrumbs li{min-width: fit-content; font-size: 16px;}
    .default-article h2{margin-bottom: 16px;}
    .default-line-wrap{padding: 5px 0 22px;}
    .sidebar-gray-blk{padding: 22px 24px 24px; margin-bottom: 22px;}
    .sidebar-mgt-team:not(:last-child){margin-bottom: 20px;}
    figure.RF-small{margin-top: 20px;}

    
}
@media screen and (max-width: 374px) and (min-width: 200px) {
    .navy-block-btn .button{font-size: 15px;}
    .navy-block-btn .button i{font-size: 14px;}
    .sidebar-gray-btns .button{flex-direction: column; gap: 8px;}
}