

.doc-repo-text h1{margin-bottom: 26px;}
.doc-repo-desc{margin-bottom: 40px;}
.doc-repo-desc span.optional-text:not(.fs-16){margin-bottom: 22px;}
.doc-repo-desc hr[data-animate]{margin-bottom: 24px;}
.doc-repo-text span.optional-text.fs-16{margin-bottom: 16px;}
.doc-repo-aside:nth-child(1):last-child{flex: 1;}
.doc-repo-aside ul.faqs-links li{margin-bottom: 6px;}

ul.ui-years{margin: 0; gap: 9px;}
ul.ui-years li{margin: 0;}
ul.ui-years li::before{display: none;}
ul.ui-years li a{padding: 16px; color: var(--Text-Gray); display: block;}
ul.ui-years li a.current, ul.ui-years li a:hover{background-color: var(--Gray); color: var(--Black);}
span.gray-line{width: 100%; height: 5px; top: auto; bottom: 0; display: block; background-color: var(--Gray);}
a:hover span.gray-line{background-color: var(--Blue);}
a.current span.gray-line{background-color: var(--RF-Orange); display: none;}


.doc-repo-lists{gap: 20px;}
.doc-repo-list{padding: 16px 16px 16px 24px; gap: 16px; flex: 1 0 calc(50% - 10px);}
.doc-repo-line{width: 4px; right: auto; background-color: var(--Blue);}
.doc-repo-list:hover .doc-repo-line, .doc-repo-list.current .doc-repo-line, .doc-form-list:hover .doc-repo-line, .doc-form-list.current .doc-repo-line{width: 8px;}
.doc-repo-list:hover{ background-color: var(--Blue-80); }
.doc-repo-list:hover .doc-repo-icon{background-color: var(--Blue);}
.doc-repo-list:hover .doc-repo-icon path{stroke: var(--White);}

.doc-repo-list.current .doc-repo-line{background-color: var(--RF-Orange);}
.doc-repo-list.current{ background-color: var(--RF-Orange-10); }
.doc-repo-list.current .doc-repo-icon{background-color: var(--RF-Orange);}
.doc-repo-list.current .doc-repo-icon path{stroke: var(--White);}

.doc-repo-report{flex: 1;}
.doc-repo-icon{width: 48px; height: 48px; padding: 8px;}
.doc-repo-icon svg{width: 32px; height: auto; object-fit: contain;}
.doc-repo-icon svg path{transition: var(--b-transition);}
ul.doc-repo-q{margin: 0; gap: 8px 16px;}
ul.doc-repo-q li::before{width: 1px; height: calc(100% - 2px); left: -8px; top: 1px; opacity: 0.25;}
ul.doc-repo-q li:first-child:before{display: none;}
ul.doc-repo-q li{margin: 0;}
ul.doc-repo-q li a{color: var(--Text-Gray);}
ul.doc-repo-q li a:hover{color: var(--Blue);}


/* media css starts here */
@media only screen  and (min-width: 810px){
    .doc-repo-head{gap: 40px; padding-bottom: 26px;}
    .doc-repo-rows{gap: 70px; padding-top: 21px;}
    .doc-repo-title{width: fit-content;}
    ul.ui-years{flex: 1;}
    .doc-form-head{padding-bottom: 16px;}
    .doc-form-title{width: fit-content;}
    ul.ui-categorys{flex: 1;}
}
@media only screen  and (min-width: 1024px){
    .doc-repo-main{padding: 80px 0 80px; gap: 80px;}
    .doc-repo-aside{flex: 0 0 350px;}
    .doc-repo-article{flex: 1; gap: 80px;}
    .doc-repo-text h1{font-size: 48px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .doc-repo-main{gap: 60px;}
    .doc-repo-aside{flex: 0 0 300px;}
    .doc-repo-rows{padding-top: 0;}
    .doc-repo-lists{flex-direction: column;}
    .doc-repo-head{flex-direction: column; gap: 24px; padding-bottom: 36px; align-items: flex-start;}
    .ui-years.flex-content-end{justify-content: flex-start;}
}
@media screen and (max-width: 1023px) and (min-width: 810px){
    .doc-repo-main{padding: 60px 0 60px; gap: 60px; flex-direction: column;}
    .doc-repo-find{padding-top: 30px;}
}
@media screen and (max-width: 809px) and (min-width: 200px){
    .doc-repo-main{padding: 40px 0 42px; display: block;}
    .doc-repo-aside{padding-bottom: 27px;}
    .doc-repo-desc span.optional-text:not(.fs-16){font-size: 16px;}
    .doc-repo-text h1{font-size: 36px;}
    .doc-repo-text{font-size: 14px;}
    .doc-repo-text span.optional-text.fs-16{padding-top: 7px;}
    .doc-repo-rows{gap: 38px;}
    .doc-repo-lists{flex-direction: column;}
    .doc-repo-head{gap: 24px; padding-bottom: 26px; flex-direction: column; align-items: flex-start;}
    .doc-repo-title{width: 100%;}
    .ui-years.flex-content-end{justify-content: flex-start;}
    .ui-years{flex-wrap: nowrap; overflow-x: auto; padding-right: 24px; width: calc(100% + 24px); -ms-overflow-style: none; scrollbar-width: none;}
    .ui-years::-webkit-scrollbar{display: none;}
    ul.ui-years li {width: fit-content;}
    ul.ui-years li a{font-size: 16px;}
    .doc-repo-find{padding-top: 37px;}
}
@media screen and (max-width: 374px) and (min-width: 200px){
    .doc-repo-list{flex-direction: column; align-items: flex-start;}
    ul.doc-repo-q li{font-size: 12px;}
}