
hr.fee-schd-hr{background-color: var(--Mid-Gray);}
.fee-schd-row:not(:first-child){display: none;}
table.fee-schd-table{ margin: 0; border: none;}
table.fee-schd-table tr td{padding: 10px 12px 9px; border-bottom-color: var(--Black-8); color: var(--Black);}
table.fee-schd-table tr:nth-child(odd) td{background-color: transparent;}
table.fee-schd-table tr:last-child td{border-bottom-color: var(--Black-8); border-bottom-width: 1px; border-bottom-style: solid;}
.fee-schd-middle{width: 100%;}
.fee-schd-middle small{opacity: 0.6;}


/*-- media css starts here --*/
@media only screen and (min-width: 760px){
    .fee-schd-title{gap: 18px;}
    .fee-schd-effective{flex: 1; gap: 16px;}
    table.fee-schd-table{padding: 40px 0;}
    table.fee-schd-table tr td:nth-child(1){width: 454px;}
    ul.fee-schd-links{margin: 0; gap: 9px; width: calc(100% + 40px); padding-right: 40px; padding-top: 40px; padding-bottom: 20px; flex-wrap: nowrap; overflow-x: auto; min-width: fit-content; -ms-overflow-style: none;}
    /* ul.fee-schd-links{margin: 0; gap: 9px; width: calc(100% + 40px); padding-right: 40px; padding-top: 40px; flex-wrap: nowrap; overflow-x: auto; min-width: fit-content; -ms-overflow-style: none; scrollbar-width: none;} */
    /* ul.fee-schd-links::-webkit-scrollbar{display: none;} */
    ul.fee-schd-links li{min-width: fit-content; margin: 0;}
    ul.fee-schd-links li a{padding: 10px 17px 8px; display: block; color: var(--Text-Gray);}
    ul.fee-schd-links li a.current{background-color: var(--Gray); color: var(--Text-Gray);}

    /* Target only this specific UL */
ul.fee-schd-links { overflow-x: auto; scrollbar-width: thin; scrollbar-color: var(--Blue) #e5e5e5; cursor: pointer;}
ul.fee-schd-links::-webkit-scrollbar { height: 6px; padding: 5px; border-radius: 5px;}
ul.fee-schd-links::-webkit-scrollbar-track { background: #e5e5e5; border-radius: 10px; }
ul.fee-schd-links::-webkit-scrollbar-thumb { background: var(--Blue); border-radius: 10px; }
ul.fee-schd-links::-webkit-scrollbar-thumb:hover { background: var(--Blue); }

}
@media only screen and (min-width: 1024px){
    .fee-schd-main{padding: 89px 0 79px;}
    .fee-schd-title{flex: 1;}
}
@media only screen and (min-width: 1440px){
    ul.fee-schd-links{width: 100%; padding-right: 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .fee-schd-main{display: block; padding: 60px 0;}
    .fee-schd-head{gap: 32px; flex-direction: column; align-items: flex-start;}
}
@media only screen and (max-width: 759px) and (min-width: 200px){
    .fee-schd-main{display: block; padding: 50px 0 40px;}
    .fee-schd-title{gap: 10px; align-items: flex-start; flex-direction: column;}
    .fee-schd-title h2{flex: 0 0 100%;}
    .fee-schd-effective{display: block;}
    .fee-schd-effective span{font-size: 1rem;}
    .fee-schd-btn{padding: 24px 0 24px;}
    .fee-schd-middle small{font-size: 0.75rem; line-height: 150%;}
    table.fee-schd-table{padding-top: 22px;}
    table.fee-schd-table tr td{font-size: 0.875rem; line-height: 150%;}
    table.fee-schd-table tr td strong{display: block;}
    hr.fee-schd-hr{opacity: 0.25; background-color: var(--Blue);}


    .fee-schd-mbl{margin-top: 23px; }
    .fee-schd-mbl-btn{cursor: pointer; padding: 16px 44px 16px 16px; border: 1px solid var(--Text-Gray); background: var(--Background-Gray); display: block; width: 100%; font-size: 1rem; line-height: 24px; color: var(--Black);}
    .fee-schd-mbl-btn em{top: 12px; right: 16px;}
    .fee-schd-mbl-btn em::before{transition: all 0.5s ease;}
    .fee-schd-mbl-btn.current em::before{content: "\f077";}
  
    ul.fee-schd-links{margin: 0; padding: 15px 0; border: 1px solid var(--Text-Gray); border-top: none; background: var(--Background-Gray); display: none;}
    ul.fee-schd-links li{padding: 0 16px; margin: 0 0 12px;}
    ul.fee-schd-links li:last-child{margin-bottom: 0;}
    ul.fee-schd-links li a{color: var(--Black); font-size: 1rem; line-height: 24px; font-weight: 700; font-family: var(--body-font);}
    ul.fee-schd-links li a.current, ul.fee-schd-links li a:hover{color: var(--Blue);}
    ul.fee-schd-links li a i, ul.fee-schd-links li a span.gray-line{display: none;}
}







