

:root{ --top-value: 80px; --low-value: 40px; }
.have-questions-main.no_form{display: block;}
.have-questions-main.no_text{display: block;}
.have-questions-section{background-image: linear-gradient(to top, var(--Gray) calc(100% - var(--low-value)) , var(--White) var(--low-value));}
.have-questions-bg{top: auto; bottom: 0;}
.have-questions-text h2{margin-bottom: 26px;}
.have-questions-text p{margin-bottom: 20px;}
.have-questions-text hr[data-animate]{margin-bottom: 20px;}
span.have-questions-trust{letter-spacing: 0.7px;}
ul.have-questions-links{margin: 0; padding-top: 6px;}
ul.have-questions-links li{margin: 0 0 4px;}
ul.have-questions-links li::before{display: none;}
ul.have-questions-links li a{gap: 8px;}
ul.have-questions-links li a.black:hover{color: var(--Black-50);}


/* media css starts here */
@media only screen  and (min-width: 1024px){
    .have-questions-section{padding-bottom: 80px; background-image: linear-gradient(to top, var(--Gray) calc(100% - var(--top-value)) , var(--White) var(--top-value));}
    .have-questions-main{padding: 79px 80px; grid-template-columns: 350px auto;}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .have-questions-section{padding-bottom: 64px;}
    .have-questions-main{padding: 40px;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .have-questions-section{padding-bottom: 40px;}
    .have-questions-main{padding: 40px 23px;}
}