

:root{ --top-value: 80px; --mid-value: 40px;  --low-value: 24px; }
.have-questions-main.no_form{display: block;}
.have-questions-main.no_text{display: block;}
.have-questions-bg{top: auto; bottom: 0;}
.have-questions-text h2{margin-bottom: 26px;}
.have-questions-text p{margin-bottom: 20px;}
.have-questions-text hr[data-animate]{margin-bottom: 20px;}
span.have-questions-trust{letter-spacing: 0.7px;}
ul.have-questions-links{margin: 0; padding-top: 6px;}
ul.have-questions-links li{margin: 0 0 4px;}
ul.have-questions-links li::before{display: none;}
ul.have-questions-links li a{gap: 8px;}
ul.have-questions-links li a.black:hover{color: var(--Black-50);}

.page-template-campaign .have-questions-text span.optional-text{color: var(--Black); font-size: 14px;}
.page-template-campaign .have-questions-text h2 { margin-bottom: 16px; font-size: 48px;}
.page-template-campaign .have-questions-text hr[data-animate], .have-questions-text p { margin-bottom: 25px; }
.page-template-campaign .have-questions-text p { margin-bottom: 0; }


/* media css starts here */
@media only screen  and (min-width: 1024px){
    .have-questions-section{padding-bottom: 80px; background-image: linear-gradient(to top, var(--Gray) calc(100% - var(--top-value)) , var(--White) var(--top-value));}
    .have-questions-main{padding: 79px 80px; grid-template-columns: 350px auto;}
}
@media only screen and (max-width: 1359px) and (min-width: 1024px){
    .have-questions-main{padding: 79px 60px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .have-questions-main{padding: 79px 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .have-questions-section{padding-bottom: 64px; display: block; background-image: linear-gradient(to top, var(--Gray) calc(100% - var(--mid-value)) , var(--White) var(--mid-value));}
    .have-questions-main{padding: 40px;}
    .have-questions-text{padding-bottom: 30px;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .have-questions-section{padding-bottom: 40px; display: block; background-image: linear-gradient(to top, var(--Gray) calc(100% - var(--low-value)) , var(--White) var(--low-value));}
    .have-questions-main{padding: 40px 28px;}
    .have-questions-text{padding-bottom: 15px; font-size: 14px;}

    .page-template-campaign .have-questions-text h2 { font-size: 36px;}
    .page-template-campaign  .have-questions-main { padding: 24px; }

    .page-template-campaign .have-questions-text p { margin-bottom: 10px; font-size: 16px; line-height: 150%; }
    body.page-template-campaign .have-questions-form .frm_forms .frm_form_fields .frm_fields_container {gap: 18px;}
    body.page-template-campaign .have-questions-form .frm_forms .frm_filed_wrapper label {line-height: 150%; text-align: center;}
    body.page-template-campaign .have-questions-form .frm_forms .frm_filed_wrapper{flex-direction: column-reverse;}
    body.page-template-campaign .have-questions-form  .frm_forms .frm_form_fields .frm_form_field.vertical_radio { margin: 20px 0 0;}
    
    
}