
.home-banner-section{background: var(--Black);}
.home-banner-overlay{opacity: 0.7; z-index: 0;}

.home-banner-text{color: var(--White);}
.home-banner-text h1{color: var(--White); margin-bottom: 13px;}
.home-banner-text hr[data-animate]{margin-bottom: 24px;}
.home-banner-text p{margin-bottom: 24px;}
.home-banner-btn{gap: 16px;}

.home-banner-text.no_about_banner_img{max-width: 100%;}
.home-banner-count{margin-bottom: 2px; gap: 8px;}
.home-banner-num{width: fit-content;}

/*-- media css --*/
@media screen and (min-width: 1024px) {
    .home-banner-main{padding: 240px 0 244px; }
    body.page-template-about .home-banner-main{padding: 160px 0 122px;}
    .home-banner-text{max-width: 804px; padding-bottom: 38px;}
    .home-banner-row{gap: 24px; align-items: center; justify-content: center;}
    .home-banner-list{flex: 0 0 calc(25% - 20px); padding: 0 24px;}
    .home-banner-list:not(:first-child)::after{width: 2px; height: 100%; top: 0; left: -12px; opacity: 0.25; background-color: var(--White); content: ""; display: block; position: absolute;}
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .home-banner-main{padding: 199px 0 179px; }
    body.page-template-about .home-banner-main{padding: 160px 0 122px;}
    .home-banner-text{max-width: 804px; padding-bottom: 38px;}
    .home-banner-row{max-width: 484px; margin: 0 auto; gap: 0; justify-content: center;}
    .home-banner-list{flex: 0 0 calc(50%); padding: 16px 24px;}
    .home-banner-list:nth-child(odd){padding-left: 6px;}
    .home-banner-list:nth-child(even){padding-right: 6px;}
    .home-banner-list:nth-child(-n+2){border-bottom: 2px solid var(--White-25);}
    .home-banner-list:nth-child(even)::after{width: 2px; height: calc(100% - 16px); top: 16px; left: 0; opacity: 0.25; background-color: var(--White); content: ""; display: block; position: absolute;}
    .home-banner-list:nth-child(-n+2)::after{top: 0;}
    .home-banner-text h1{font-size: 48px; letter-spacing: -0.96px;}
    .home-banner-count{font-size: 28px;}
}
@media screen and (max-width: 809px) and (min-width: 200px) {
    .home-banner-main{padding: 44px 0 108px;}
    body.page-template-about .home-banner-main{padding: 44px 0 80px;}
    .home-banner-image{position: relative;}
    .home-banner-overlay{opacity: 0.5;}
    .home-banner-text{font-size: 16px; padding-bottom: 0; max-width: 526px;}
    .home-banner-text h1{font-size: 40px; letter-spacing: -0.8px; margin-bottom: 6px;}
    body.page-template-about .home-banner-text h1{margin-bottom: 25px;}
    .home-banner-list{font-size: 14px;}
    .home-banner-count {font-size: 24px;}
}