.management-main{padding: 64px 64px 64px;}
.management-bg{height: calc(100% + 64px);}
.management-block{color: var(--White); text-align: center; }
.management-block p{font-size: 18px; font-weight: 700; line-height: 100%; margin-bottom: 32px;}
.management-block h3{font-size: 40px; font-weight: 600; line-height: 125%; letter-spacing: -0.8px; color: var(--White); margin-bottom: 30px;}
.navy-block-btns { display: block; margin: 0 auto; max-width: 458px; width: 100%; }
.navy-block-btn { border: 1px solid var(--White); display: flex; gap: 8px; padding: 8px; }
.navy-block-btn .button.btn-white { color: var(--Black); }
.navy-block-btn .button { font-size: 16px; gap: 8px; justify-content: center; padding: 10px 8px; width: 100%; }
.navy-block-btn .button.btn-white i { color: var(--Navy); }

.management-team-row{padding: 0 0 80px;}
.management-team-image img{width: 160px; outline: 8px solid rgba(0, 0, 0, 0.1); border-radius: 120px;}
.management-team-list{ text-align: center; }
.management-team-image{margin-bottom: 16px;}
.management-team-info h4{font-size: 24px; font-weight: 600; line-height: 125%; letter-spacing: -0.48px; margin-bottom: 0;}
.management-team-info span{font-size: 14px; color: var(--Text-Gray); font-weight: 400;}

.management-team-info hr{ background-color: var(--Navy); border: none; border-radius: 1px; display: block; height: 2px; width: 64px; margin: 12px auto 12px;}

.management-section{background-image: linear-gradient(to top,var(--White) calc(100% - var(--top-value)), var(--Gray) var(--top-value));}
.management-section.white-off{background-image: linear-gradient(to top,var(--Gray) calc(100% - var(--top-value)), var(--White) var(--top-value));}
.management-team-info a{color: var(--Black); font-weight: 700; font-size: 16px; line-height: 150%;}
.management-team-info a:hover{color: var(--Blue);}


/*-- media css --*/
@media only screen and (min-width: 1024px){
    .management-team-row{gap: 40px;}
    .management-team-list{flex: 0 0 calc(25% - 40px); }
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
  .management-team-row { gap: 20px;}
  .management-team-list { flex: 0 0 calc(25% - 15px);}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
  .management-team-row { padding: 0 40px 64px; gap:28px 40px;}
  .management-team-list {flex: 0 0 calc(50% - 20px)}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
  .management-section{background-image: linear-gradient(to top,var(--White) calc(100% - var(--low-value)),var(--Gray) var(--low-value));}
  .management-main{padding: 48px 24px 64px;}

  .navy-block-btn {display: block;}
  .navy-block-btn .button.btn-white {flex-direction: row-reverse;}

  .management-team-list {margin: 0 auto 40px;}
  .management-team-list:last-child{margin-bottom: 0;}
}
@media only screen and (max-width: 374px) and (min-width: 200px){
  .management-block h3{font-size: 28px;}
}