.management-main{padding: 64px 64px 64px;}
.management-bg{height: calc(100% + 80px);}
.no_next_section .management-bg{height: 100%;}
.management-block{color: var(--White); text-align: center; }
.management-block p{font-size: 1.125rem; font-weight: 700; line-height: 100%; margin-bottom: 32px;}
.management-block h3{font-size: 2.5rem; font-weight: 600; line-height: 125%; letter-spacing: -0.8px; color: var(--White); margin-bottom: 30px;}
.navy-block-btns { display: block; margin: 0 auto; max-width: 458px; width: 100%; }
.navy-block-btn{ border: 1px solid var(--White); display: flex; gap: 8px; padding: 8px; }
.navy-block-btn .button { font-size: 1rem; gap: 8px; justify-content: center; padding: 12px 8px; width: 100%; flex: 1;}
.navy-block-btn .button[data-btn-hover]::before{ background-color: var(--button-hover-color); }

.management-team-row{padding: 0 0 80px; align-items: flex-start; justify-content: center;}
.management-team-image img{width: 160px; transition: var(--b-transition); outline: 8px solid rgba(0, 0, 0, 0.1); border-radius: 120px; height: 160px;}
.management-team-list:hover img{transform: scale(1.025); outline-color: var(--Black-20);}
.management-team-list{ text-align: center; display: flex; flex-direction: column; margin-top: auto;}
.management-team-image{margin-bottom: 16px;}
.management-team-info{margin-top: auto;}
.management-team-info h4{font-size: 1.5rem; font-weight: 600; line-height: 125%; letter-spacing: -0.48px; margin-bottom: -3px;}
.management-team-info span{font-size: 0.875rem; color: var(--Text-Gray); font-weight: 400;}

.management-team-info hr{border: none; border-radius: 1px; display: block; margin: 12px auto 12px;}

.management-section{background-image: linear-gradient(to top,var(--White) calc(100% - var(--top-value)), var(--Gray) var(--top-value));}
.management-section.white-off{background-image: linear-gradient(to top,var(--Gray) calc(100% - var(--top-value)), var(--White) var(--top-value));}
.management-team-info a{font-weight: 700; font-size: 1rem; line-height: 150%;}

.page-template-about .management-section { background-image: linear-gradient(to top,var(--Gray) calc(100% - var(--top-value)),var(--White) var(--top-value)); }

.page-template-service-tier-1 .management-section { background-image: linear-gradient(to top,var(--Gray) calc(100% - var(--top-value)),var(--White) var(--top-value)); } 

.management-team-info h4 a{font-size: 1.5rem; font-weight: 600; letter-spacing: -0.48px;}

.management-section.management-top-space{margin-top: 80px;}

/*-- media css --*/
@media only screen and (min-width: 1200px){
    .management-team-row{gap: 80px 0; padding-left: 20px; padding-right: 20px;}
    .management-team-list{flex: 0 0 calc(25%); padding: 0 20px; flex-grow: 1; }
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
  .management-team-row { gap: 60px 20px; }
  .management-team-list { flex: 0 0 calc(25% - 15px);}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
  .management-team-row { padding: 0 40px 64px; gap: 60px 40px;}
  .management-team-list {flex: 0 0 calc(50% - 20px)}
  .management-section.management-top-space{margin-top: 50px;}
}

@media only screen and (min-width: 759px) and (min-width: 480px){
  .management-team-row { padding: 0 20px 80px; gap:24px;}
  .management-team-list {flex: 0 0 calc(50% - 20px); }

  .page-template-service-tier-1 .management-team-row { padding: 0 20px 40px;}

}

@media only screen and (max-width: 759px) and (min-width: 200px){
  .management-section{background-image: linear-gradient(to top,var(--White) calc(100% - var(--low-value)),var(--Gray) var(--low-value));}
  .management-main{padding: 48px 24px 64px;}
  .management-section.management-top-space{margin-top: 40px;}

  .navy-block-btn {display: block;}
  .navy-block-btn .button:first-child{flex-direction: row-reverse; margin-bottom: 8px;}
  .navy-block-btn{flex-direction: column;}
  .navy-block-btn .button.btn-white {flex-direction: row-reverse;}

  .management-team-list {margin: 0 auto 40px; }
  .management-team-list:last-child{margin-bottom: 0;}
}
@media only screen and (max-width: 374px) and (min-width: 200px){
  .management-block h3{font-size: 1.75rem;}
  .management-team-list{width: 100%;}

  .management-team-list:first-child{margin-top: auto;}
}