
.news-banner-bg{top: 0; left: 0; width: 100%; height: 100%; z-index: -1;}
.news-banner-title h1{margin-bottom: 0; font-size: 48px; line-height: 56px; color: var(--White);}

.category{margin-bottom: 24px;}
ul.category-lists{margin: 0;}
ul.category-lists > li{margin: 0;}
ul.category-lists > li::before{display: none;}
ul.category-lists > li > a{gap: 8px; font-size: 16px; line-height: 16px; font-weight: 700;}
.news-item-content{font-size: 16px; line-height: 24px; flex-direction: column; width: 100%; gap: 16px;}
.news-item-content h2{font-size: 28px; line-height: 35px; margin-bottom: 0; letter-spacing: -0.56px;}
.news-item-content span{display: block; font-size: 14px; line-height: 17.5px; letter-spacing: 0.7px; text-transform: uppercase;}
.news-item-text{background-color: var(--White);}
.news-banner-row:nth-child(even) .news-item-content{gap: 12px;}
.news-banner-row:nth-child(even) .news-item-content h2{font-size: 24px; line-height: 30px; margin-bottom: 0; letter-spacing: -0.48px;}
.news-banner-row:nth-child(odd) .news-item-image::before{content: ""; position: absolute; width: 28px; height: 56px; top: 50%; left: 0; transform: translateY(-50%); background: var(--White); clip-path: polygon(100% 50%, 0 0, 0 100%);}

@media screen and (min-width: 1024px) {
    .news-banner-main{padding: 160px 0 80px;}
    .news-banner-head{gap: 30px; justify-content: space-between; margin-bottom: 40px;}

    .news-banner-lists, .news-banner-row{gap: 40px;}
    .news-banner-item{flex: 1;}
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(1){flex: 0 0 calc(100% - 452px);}
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(2){flex: 0 0 412px;}
    .news-banner-row:nth-child(odd) .news-item-content{padding-top: 25px;}
    .news-banner-row:nth-child(even) > .news-banner-item{flex: 1;}
    .news-banner-row:nth-child(even) > .news-banner-item .news-item-text{padding: 24px;}
    .news-item-text{flex: 1; padding: 40px;}
    .news-banner-item.reverse{flex-direction: row-reverse;}
    .news-item-image{flex: 0 0 50%}
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(1){flex: 0 0 calc(100% - 390px);}
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(2){flex: 0 0 350px;}
}