
.news-post-block-desc { padding: 64px 70px; text-align: center; color: var(--White)}
.news-post-block-desc p{font-size: 18px; font-weight: 700; line-height: 100%; margin-bottom: 26px; font-family: var(--body-font);}
.news-post-block-desc h3{font-size: 48px; font-weight: 600; line-height: 125%; letter-spacing: -0.8px; color: var(--White); margin-bottom: 34px;}
.news-post-block-btns { max-width: 514px; width: 100%; display: block; margin: 0 auto;}
.news-post-block-btn{padding: 8px; gap: 8px; border: 1px solid var(--White); }
.news-post-block-btn .button{flex: 0 0 calc(50% - 8px); gap: 8px; justify-content: center; padding: 9px 10px;}
.news-post-block .white-back{width: 100%; height: 64px; background-color: var(--White); margin: 0 auto;}


.news-post-block-desc.blue-bg{background-color: var(--Blue);}

@media only screen and (min-width: 1440px){
    .news-post-block-main{max-width: calc(100% - 192px); margin: 0 auto;}
    .news-post-block .white-back{max-width: calc(100% - 128px); margin: 0 auto;}
}
@media screen and (max-width: 1439px) and (min-width: 1024px){
    .news-post-block .white-back{max-width: calc(100% - 160px); margin: 0 auto;}
}
@media screen and (max-width: 1023px) and (min-width: 810px) {
    .news-post-block-desc {padding: 48px;}
}
@media screen and (max-width: 809px) and (min-width: 200px) {
    .news-post-block-desc {padding: 24px;}
    .news-post-block{padding: 0;}
    .news-post-block-desc p{font-size: 16px; margin-bottom: 30px;}
    .news-post-block-desc h3{font-size: 28px; }
    .news-post-block-btn{display: block; width: inherit;}
    .news-post-block-btn .button{width: 100%; gap: 8px; justify-content: center; font-size: 16px; }
    .news-post-block-btn .button:first-child{margin-bottom: 8px;}
    .news-post-block .white-back {display: none;}
}