
.news-banner-section{background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.50) 100%);}
.news-banner-bg{top: 0; left: 0; width: 100%; height: 100%; z-index: -1;}
.news-banner-title h1{margin-bottom: 3px; font-size: 48px; line-height: 56px; letter-spacing: 0; color: var(--White); -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box; text-overflow: ellipsis;}

ul.category-lists{margin: 0; gap: 10px 20px;}
ul.category-lists > li{margin: 0;}
ul.category-lists > li::before{display: none;}
ul.category-lists > li > a{gap: 8px; font-size: 16px; line-height: 16px; font-weight: 700;}
ul.category-lists > li > a:hover{color: var(--Black);}
ul.category-lists > li > a > figure{width: fit-content;}
ul.category-lists > li > a > figure > img{max-width: 20px; max-height: 20px; min-height: 20px; object-fit: contain;}
ul.category-lists > li > a > em,
ul.category-lists > li > a > svg{max-width: 20px; min-height: 20px; max-height: 20px; font-size: 18px;}
ul.category-lists > li > a:hover > svg path{fill: var(--Black);}
.news-banner-content{font-size: 16px; line-height: 24px; flex-direction: column; width: 100%; gap: 16px;}
.news-banner-content h2{font-size: 28px; line-height: 35px; margin-bottom: 0; letter-spacing: -0.56px;  -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box; text-overflow: ellipsis;}
.news-banner-content span{display: block; font-size: 14px; line-height: 17.5px; letter-spacing: 0.7px; text-transform: uppercase;}
.news-banner-content p{ -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box; text-overflow: ellipsis;}
.news-banner-item{background-color: var(--White); transition: var(--b-transition);}
.news-banner-row:nth-child(even) .news-banner-content{gap: 12px;}
.news-banner-row:nth-child(even) .news-banner-content h2{font-size: 24px; line-height: 30px; margin-bottom: 0; letter-spacing: -0.48px;}
.news-banner-image a{ width: 100%; height: 100%;}
.news-banner-row:nth-child(odd) .news-banner-image > a::before{content: ""; position: absolute; width: 28px; height: 56px; top: 50%; left: 0; transform: translateY(-50%); background: var(--White); clip-path: polygon(100% 50%, 0 0, 0 100%); z-index: 1; transition: var(--b-transition);}
.news-banner-row:nth-child(odd) .news-banner-image > a::after{opacity: 0; visibility: hidden; content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: linear-gradient(90deg, var(--Blue) 0%, rgba(39, 114, 219, 0.00) 100%); transition: var(--b-transition);}

.news-banner-item:hover{box-shadow:0px 0px 0px 2px var(--Blue);}
.news-banner-item:hover .news-banner-image > a::before{width: 44px; height: 88px;}
.news-banner-item:hover .news-banner-image > a::after{opacity: 1; visibility: visible;}
.news-banner-item:hover .play-btn-main .play-btn{width: 64px; height: 64px;}
.news-banner-item:hover .play-btn-main img{transform: scale(1.125);}
.news-banner-item:hover .play-btn-main span.circle{background: rgba(39, 114, 219, 0.75);}
.news-banner-item:hover .play-btn-main span.circle::after{height: 27px; width: 20px;}
.news-banner-item:hover .play-btn-main span:not(:first-child):nth-child(2){width: 80px; height: 80px; background: rgba(39, 114, 219, 0.25);}

@media screen and (min-width: 1024px) {
    .news-banner-main{padding: 158px 0 80px;}
    .news-banner-head{gap: 30px; justify-content: space-between; margin-bottom: 40px;}

    .news-banner-lists, .news-banner-row{gap: 40px;}
    .news-banner-item{flex: 1;}
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(1){flex: 0 0 calc(100% - 452px);}
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(2){flex: 0 0 412px;}
    .news-banner-row:nth-child(odd) .news-banner-content{padding-top: 25px;}
    .news-banner-row:nth-child(even) > .news-banner-item{flex: 1;}
    .news-banner-row:nth-child(even) > .news-banner-item .news-banner-text{padding: 24px;}
    .news-banner-text{flex: 1; padding: 40px;}
    .category{margin-bottom: 24px;}
    .news-banner-item.reverse{flex-direction: row-reverse;}
    .news-banner-image{flex: 0 0 50%}
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(1){flex: 0 0 calc(100% - 390px);}
    .news-banner-row:nth-child(odd) > .news-banner-item:nth-child(2){flex: 0 0 350px;}
}

@media screen and (max-width: 1023px) and (min-width: 810px) {
    .news-banner-main{padding: 40px 0;}
    .news-banner-head{gap: 30px; justify-content: space-between; margin-bottom: 32px;}


    .news-banner-lists{display: inline;}
    .news-banner-row{display: inline;}
    .news-banner-row:last-child .news-banner-item:last-child{margin-bottom: 0;}
    .news-banner-item{margin-bottom: 32px; min-height: 435px;}
    .news-banner-row:nth-child(odd) .news-banner-item:nth-child(even){width: calc(50% - 16px); float: left; margin-right: 32px;}
    .news-banner-row:nth-child(even) .news-banner-item{flex-direction: column-reverse;}
    .news-banner-row:nth-child(even) .news-banner-item:nth-child(odd){width: calc(50% - 16px); margin-left: 32px;}
    .news-banner-row:nth-child(even) .news-banner-item:nth-child(even){width: calc(50% - 16px); margin-right: 20px;}
    .news-banner-row:nth-last-child(odd) .news-banner-item:nth-child(even){flex: 0 0 100%; width: 100%; margin: 0; flex-direction: row-reverse;}
    .news-banner-row:nth-child(even) .news-banner-item:first-child .news-banner-image{max-height: 196px;}
    .news-banner-row:nth-child(even) .news-banner-item:first-child .news-banner-image img{max-height: 196px;}
    .news-banner-row:nth-child(even) .news-banner-item:nth-child(2n) .news-banner-image img{max-height: 100%; height: 100%;}

    .news-banner-image{flex: 0 0 50%;}
    .news-banner-text{flex: 1; padding: 40px; flex-direction: column; display: flex; flex-wrap: wrap; justify-content: center;}
    .category{margin-bottom: 24px;}
}
@media screen and (max-width: 1023px) and (min-width: 811px) {
    .news-banner-item{min-height: 424px;}
}

@media screen and (max-width: 809px) and (min-width: 200px) {
    .news-banner-main{padding: 40px 0;}
    .news-banner-head{margin-bottom: 32px;}
    .news-banner-title h1{font-size: 32px; line-height: 40px;}
    .news-banner-lists, .news-banner-row{gap: 16px;}
    .news-banner-item{width: 100%; gap: 20px; padding: 12px 12px 12px 16px; align-items: center; min-height: 100px;}
    .news-banner-text{flex: 1;}
    .category{margin-bottom: 16px;}
    .news-banner-content h2{font-size: 18px; line-height: 22.5px; margin-bottom: 0; letter-spacing: -0.36px;}
    .news-banner-row:nth-child(even) .news-banner-content h2{font-size: 18px; line-height: 22.5px; margin-bottom: 0; letter-spacing: -0.36px;}
    .news-banner-content > span, .news-banner-content > p{display: none;}
    .news-banner-image{flex: 0 0 104px;}
    .news-banner-row:nth-child(odd) .news-banner-image > a::before{width: 16px; height: 32px;}
}