
.news-post-banner-section{background: var(--Black);}
.news-post-banner-overlay{opacity: 0.7; z-index: 0;}

.news-post-banner-text{color: var(--White);}
.news-post-banner-text h1{color: var(--White);  font-size: 3rem; margin-bottom: 0; line-height: 125%;}
.news-post-banner-text p{margin-bottom: 24px;}

.news-post-banner-text.no_about_banner_img{max-width: 100%;}

.news-post-banner-list span{font-size: 1.125rem; font-weight: 700; line-height: 100%;}
.news-post-banner-desc span{color: var(--White);}
.news-post-banner-list span a{color: var(--White); text-decoration: none;}
.news-post-banner-list span a:hover{color: var(--RF-Aquamarine);}
.news-post-banner-row{gap: 4px; align-items: center; justify-content: center; margin-bottom: 40px;}
.news-post-banner-list::after{width: 2px; height: 100%; top: 0; right: -2px; opacity: 0.5; background-color: var(--RF-Aquamarine); content: ""; display: block; position: absolute;}
.news-post-banner-list:last-child:after{display: none;}
.news-post-banner-list{width: fit-content; padding: 0 12px;}


.news-post-banner-row + p{margin-bottom: 38px;}



/*-- media css --*/
@media screen and (min-width: 1024px) {
    .news-post-banner-main{padding: 205px 0 284px; max-width: 832px; }
    .news-post-banner-text{max-width: 832px; padding-bottom: 50px; }
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .news-post-banner-main{padding: 202px 0 78px; }
    .news-post-banner-text{max-width: 804px; padding-bottom: 38px;}
   
 
    .news-post-banner-text h1{font-size: 3rem; letter-spacing: -0.96px;}
    .news-post-banner-count{font-size: 1.75rem;}
}
@media screen and (max-width: 759px) and (min-width: 200px) {
    .news-post-banner-main{padding: 44px 0 52px;}
    .news-post-banner-image{position: relative;}
    .news-post-banner-overlay{opacity: 0.5;}
    .news-post-banner-text{font-size: 1rem; padding-bottom: 0; ;}
    .news-post-banner-text h1{font-size: 2.25rem; letter-spacing: -0.72px; margin-bottom: 24px; line-height: 125%;}
    .news-post-banner-list p{font-size: 1rem;}
    .news-post-banner-list{margin: 0 0 8px}
    .news-post-banner-row{margin-bottom: 14px;}
    .news-post-banner-desc{font-size: 1.125rem; line-height: 150%;}
    .news-post-banner-list:nth-last-child(2):after{display: none;}

}
@media screen and (max-width: 389px) and (min-width: 200px) {
    .news-post-banner-list::after{display: none;}
}