.open-positions-section{position: relative; width: 100%; clear: both;}
.open-positions-main{padding: 80px 0;}
.open-positions-row{gap:0  80px;}
.open-positions-left{flex: 0 0 373px; flex-grow: 1;}
.open-positions-right{flex: 0 0 calc(100% - 453px); flex-grow: 1;}
.open-positions-left .optional-text{margin-bottom: 16px;}
.open-positions-left h4{ color: var(--Black); line-height: 125%; margin-bottom: 16px;}
.open-positions-list{background-color: var(--White); gap: 16px; padding: 16px 20px; margin-bottom: 16px; border-left: 4px solid var(--Blue); transition: var(--b-transition);}
.open-positions-title{flex: 1;}
.open-positions-title h6{margin-bottom: 4px;}
.open-positions-title .h6 a:hover{color: var(--heading);}

.open-positions-sub-category{gap: 0 9px; margin:  0 ; line-height: 1.5;  }
.open-positions-sub-category li { font-size: 14px; line-height: 150%; margin-bottom: 4px; font-weight: 400;  padding-left: 9px; position: relative;}  
.open-positions-sub-category li:first-child{ padding-left: 0;}
.open-positions-sub-category li::before{position: absolute; top: 4px; left: 0; width: 1px; height: calc(100% - 8px); content:""; display: block; background-color: rgba(102, 102, 102, 0.25)}
.open-position-button{width: 48px; height: 48px; }
.open-position-button a{background: var(--Gray); padding: 8px 7px 9px 8px;}
.open-position-filter{margin-bottom: 40px;}
.open-positions-list:hover{background-color: rgba(39, 114, 219, 0.1);  border-left-width: 8px;}
.open-positions-list:hover .open-position-button a{background-color: var(--Blue);}
.open-positions-list:hover .open-position-button a i{color: Var(--White); transform: translateX(-2px);}
.open-positions-list:last-child{margin-bottom: 0;}

.open-positions-sub-category li:first-child::before{display: none;}
.open-positions-left{display: flex; flex-direction: column;}
.open-positions-bottom-logo{margin-top: auto; width: fit-content;}




@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .open-positions-main{padding: 64px 0;}
    .open-positions-row{display: block;}
    .open-positions-left{width: 100%; margin-bottom: 40px;}
    .open-positions-right{width: 100%;margin-bottom: 40px;}
    .open-positions-sub-category li{margin-bottom: 4px;}
    .open-positions-list:last-child{margin-bottom: 0;}
    .open-positions-top ul.contact-links{display: flex; gap: 16px;}
    .open-positions-top ul.contact-links > li{margin-bottom: 0;}
    .open-positions-top p{margin-bottom: 32px;}

} 

 @media only screen and (max-width: 767px) and (min-width: 200px) {
    .open-positions-main{padding: 40px 0;}
    .open-positions-row{display: block;}
    .open-positions-list:last-child{margin-bottom: 0;}
    .open-positions-right{margin-bottom: 24px;}
    .open-positions-sub-category li {margin-bottom: 4px;}
    .open-positions-top p{margin-bottom: 24px;}
    .open-positions-left{margin-bottom: 24px;}
    .open-position-filter ul.filter-links{ margin-bottom: 0;}
    .open-position-filter{margin-bottom: 24px;}
    .open-positions-sub-category li{font-size: 12px;}
    .open-positions-title h6 { margin-bottom: 2px;}
}






