
.open-mutual-funds-main{padding: 80px 0;}
.open-mutual-lt{font-size: 16px; line-height: 24px;}
.open-mutual-lt span.optional-text{margin-bottom: 23px;}
.open-mutual-lt hr{margin: 25px 0 23px;}

ul.open-mutual-links{margin: 0;}
ul.open-mutual-links li{margin: 0 0 9px;}
ul.open-mutual-links li::before{display: none;}
ul.open-mutual-links li a{color: var(--Black); gap: 8px;}
ul.open-mutual-links li a:hover{color: var(--Blue);}
ul.open-mutual-links li a i{color: var(--Blue);}
ul.open-mutual-links li a:hover i{transform: translateX(8px);}
ul.open-mutual-links li a.current{color: var(--Blue);}
ul.open-mutual-links li a.current i{display: none;}

.open-mutual-head{gap: 20px; margin-bottom: 30px;}
.open-mutual-title{flex: 1;}
.open-mutual-btn{width: fit-content;}

.open-mutual-rt p{font-size: 14px; line-height: 14px; color: var(--Text-Gray); margin-bottom: 0;}
.open-mutual-fund-list{padding: 24px 24px 18px; background-color: var(--White);}
.open-mutual-fund-list > span{font-size: 20px; line-height: 25px; display: block; font-weight: 600; color: var(--Black); margin-bottom: 16px;}
.open-mutual-fund-list hr{margin: 16px 0; background-color: var(--RF-Orange-10);}
.open-mutual-fund-list p{font-size: 14px; line-height: 125%; font-weight: 400; }
.open-mutual-fund-list ul.faqs-links{margin: 0;}
.open-mutual-fund-list ul.faqs-links li:only-child{margin-bottom: 0;}
.open-mutual-fund-row + p{margin-bottom: 0;}

ul.open-mutual-fund-data{margin: 0; gap: 12px 28px;}
ul.open-mutual-fund-data li{flex: 0 0 calc(50% - 14px); margin: 0; justify-content: space-between}
ul.open-mutual-fund-data li::before{display: none;}
ul.open-mutual-fund-data li > span{font-size: 14px; line-height: 14px;}
ul.open-mutual-fund-data li > span:last-child{color: var(--Text-Gray2);}
ul.open-mutual-fund-data li > span.red{color: var(--Pure-Red);}
ul.open-mutual-fund-data li > span.green{color: var(--Pure-Green);}
ul.open-mutual-fund-data + hr{margin-bottom: 11px;}
.open-mutuals-row:not(:first-child){display: none;}


@media screen and (min-width: 1024px) {
    .open-mutual-main{gap: 80px; padding: 80px 0;}

    .open-mutual-fund-row{gap: 32px; margin-bottom: 30px;}
    .open-mutual-fund-list {flex: 0 0 calc(25% - 24px);}
}

@media screen and (max-width: 1299px) and (min-width: 1024px){
    .open-mutual-main{gap: 40px;}
    .open-mutual-lt{flex: 0 0 300px;}
    ul.open-mutual-fund-data li{flex: 100%;}
}

@media screen and (max-width: 1023px) and (min-width: 810px){
    .open-mutual-main{padding: 40px 0; display: block; width: 100%;}
    .open-mutual-lt{width: 100%; margin-bottom: 40px;}
    ul.open-mutual-links{display: flex; gap: 14px 29px; flex-wrap: wrap; width: 100%; margin: 27px 0 0;}
    ul.open-mutual-links > li{width: fit-content;}
    .open-mutual-rt{width: 100%;}
    .open-mutual-head{margin-bottom: 32px;}
    .open-mutual-fund-row{gap: 20px; margin-bottom: 20px;}
    .open-mutual-fund-list{flex: 0 0 calc(50% - 10px);}
}
@media screen and (max-width: 809px) and (min-width: 200px){
    .open-mutual-main{padding: 24px 0; display: block; width: 100%;}
    .open-mutual-lt{width: 100%; margin-bottom: 24px;}

    .open-mutual-category{margin-top: 23px; }
    .open-mutual-category-btn{cursor: pointer; padding: 16px 44px 16px 16px; border: 1px solid var(--Text-Gray); background: var(--Background-Gray); display: block; width: 100%; font-size: 16px; line-height: 24px; color: var(--Black);}
    .open-mutual-category-btn i{top: 12px; right: 16px;}
    .open-mutual-category-btn.current i::before {content: "\f077";}
    ul.open-mutual-links{margin: 0; padding: 15px 0; border: 1px solid var(--Text-Gray); border-top: none; background: var(--Background-Gray); display: none;}
    ul.open-mutual-links li{padding: 0 16px; margin: 0 0 12px;}
    ul.open-mutual-links li:last-child{margin-bottom: 0;}
    ul.open-mutual-links li a{font-size: 16px; line-height: 24px;}
    ul.open-mutual-links li a i{display: none;}

    .open-mutual-head{width: 100%; margin-bottom: 48px;}
    .open-mutual-fund-row{gap: 16px; margin-bottom: 24px;}
    .open-mutual-fund-list{min-width: 249px;}
    .open-mutual-fund-row .slick-list{overflow: inherit;}
    .open-mutual-fund-row .slick-slide{width: 249px; margin-right: 16px;}
    .open-mutual-btn-mob .button{width: 100%;}
    .mutual-fund-appends{padding-bottom: 24px;}
    .open-mutual-funds-main { padding: 40px 0; }
    .open-mutual-title h2{font-size: 36px;}
}