
.question-text h2{margin-bottom: 27px;}
.question-text hr{margin: 0 0 24px;}
.question-text hr.blue{opacity: 1;}

ul.question-booking-links{margin: 0 0 35px;}
ul.question-booking-links li{margin: 0;}
ul.question-booking-links li::before{display: none;}
ul.question-booking-links li a{ gap: 8px;}
ul.question-booking-links li a.mPS2id-clicked{color: var(--Blue);}
ul.question-booking-links li a.current{color: var(--Blue);}
ul.question-booking-links li a.current i{opacity: 0; visibility: hidden;}

.question-lists .accordion-header.open{border-color: var(--Light-Gray); border-bottom-color: transparent;}
.question-lists .open .accordion-content{border-color: var(--Light-Gray); border-top-color: transparent; }

.question-yellow .question-text hr{background-color: var(--Light-Brown);}
.question-yellow .question-booking-option .h5{color: var(--Light-Brown);}
.question-yellow .accordion-plus svg path{fill: var(--Light-Brown);}

.question-purple .question-text hr{background-color: var(--RF-Purple);}
.question-purple .question-booking-option .h5{color: var(--RF-Purple);}
.question-purple .accordion-plus svg path{fill: var(--RF-Purple);}

.question-aquamarine .question-text hr{background-color: var(--RF-Aquamarine);}
.question-aquamarine .question-booking-option .h5{color: var(--RF-Aquamarine);}
.question-aquamarine .accordion-plus svg path{fill: var(--RF-Aquamarine);}

.question-red .question-text hr{background-color: var(--RF-Red);}
.question-red .question-booking-option .h5{color: var(--RF-Red);}
.question-red .accordion-plus svg path{fill: var(--RF-Red);}

.question-blue .question-booking-option .h5{color: var(--Blue);}

.question-full .question-text{flex: 100%;}

.question-booking-option .h5{margin-bottom: 3px;}


@media screen and (min-width: 1024px) {
    .question-main{padding: 80px 0; gap: 80px;}
    .question-text{flex: 0 0 350px;}
    .question-lists{flex: 1;}
    .question-booking-option{padding-top: 40px; border-top: 1px solid var(--Light-Gray); margin-top: 40px;}
        
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .question-main{padding: 64px 0;}
    .question-text{margin-bottom: 40px;}
    .question-text > p:last-of-type{margin-bottom: 0;}
    .question-lists{margin-bottom: 40px;}
    .question-lists .accordion-main{padding-bottom: 0;}
    .question-lists .accordion-list{margin-bottom: 16px;}
    .question-lists .accordion-list:last-child{margin-bottom: 0;}
    ul.question-booking-links{margin-bottom: 0;}
}
@media screen and (max-width: 809px) and (min-width: 200px) {
    .question-main{padding: 40px 0;}
    .question-text{margin-bottom: 24px; font-size: 0.875rem; line-height: 21px;}
    .question-lists{margin-bottom: 24px; width: 100%;}
    .question-lists .accordion-plus{top: calc(50% - 2px);}
    
    
}