.repeater-section{clear: both; width: 100%; overflow: hidden;}
.repeater-main{padding: 80px 0 0;}
.repeater-text h2{font-family: var(--heading-font); margin-bottom: 32px;}
.repeater-text span{margin: 0 0 16px 0;}
.repeater-list.row-reverse{flex-direction: row-reverse;}
.repeater-icon{left: -72px; right: auto; height: 160px; transform: translateY(-50%); top: 50%; width: 120px;}

.repeater-icon svg{width: 100%; height: 100%; object-fit: cover;}
svg.repeater-icon-hover{top: 0; left: 0; opacity: 0;}
.repeater-list:hover svg.repeater-icon-hover{opacity: 1; transform: translateX(40px);}
.repeater-big-text span{left: 112px; opacity: 0;}
.repeater-list:hover .repeater-big-text span{left: calc(50% + 37px); transform: translateX(-50%); opacity: 1;}


.page-template-about .repeater-main{padding: 0;}
.page-template-about .repeater-list{padding: 80px 0 0;}
.page-template-about .repeater-list.row-reverse{padding: 0 0 80px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1300px) {
    .repeater-list{ gap: 80px;}
    .repeater-text{flex: 0 0 calc(50% - 40px)}
    .repeater-img{flex: 0 0 calc(50% - 40px);}
    .repeater-desc{margin-left: auto; margin-right: 0; max-width: 680px; padding: 80px 64px 80px 80px;}
    
    .repeater-list.row-reverse .repeater-desc{margin-left: 0; margin-right: auto;}
}
@media only screen and (min-width: 1024px) {
    .repeater-list{margin-bottom: 80px;}
    .repeater-list:last-child{margin-bottom: 0;}
    .repeater-desc{  padding: 40px 64px 80px 64px;}
    .repeater-text p{margin-bottom: 28px;} 
    .repeater-list.row-reverse .repeater-icon{ height: 160px; right: -72px; left: auto; top: 50%; transform: translateY(-50%) rotate(-180deg); width: 120px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px) {
    .repeater-list{ gap: 60px;}
    .repeater-text{flex: 0 0 calc(50% - 30px);}
    .repeater-img{flex: 0 0 calc(50% - 30px);}
    
}
@media only screen and (max-width: 1023px) and (min-width: 810px) {
    .repeater-list{margin-bottom: 44px; flex-direction: column-reverse;}
    .repeater-list.row-reverse{flex-direction: column-reverse;}
    .repeater-list:last-child{margin-bottom: 0;}
    .repeater-img{margin-bottom: 54px;}
    .repeater-desc { padding: 64px 40px; }
    .repeater-icon { height: 160px; left: 64px; right: auto; top: inherit; width: 120px; bottom: -74px; transform: rotate(-90deg);}

    .page-template-about .repeater-list.row-reverse{padding: 0;}

}
@media only screen and (max-width: 809px) and (min-width: 200px) {
    .repeater-list{margin-bottom: 44px; flex-direction: column-reverse;}
    .repeater-desc { padding: 40px 24px; }
    .repeater-main{padding: 40px 0;}
    .repeater-text h2 {margin-bottom: 26px;}
    .repeater-icon { height: 85px; left: 36px; right: auto; top: inherit; width: 64px; bottom: -33px; transform: rotate(-90deg);}
    .repeater-img { margin-bottom: 15px; }
    .repeater-text span { margin: 0 0 12px 0; }
    .repeater-text h3{margin-bottom: 22px; font-size: 1.5rem;}
    .repeater-big-text span{font-size: 60px; left: 0;}
    .repeater-list:hover .repeater-big-text span{left: 50%;}
    body.page-template-careers .repeater-main{padding-top: 0; padding-bottom: 0;}
    body.page-template-careers .repeater-list{margin-bottom: 12px;}

    .page-template-about .repeater-list { padding: 0; margin-bottom: 24px;} 
      .repeater-main .default-banner-btn {display: block;}
      .repeater-main .default-banner-btn .button{margin-bottom: 24px;}
      .repeater-main .default-banner-btn a{width: 100%;}

      .repeater-list.row-reverse{flex-direction: column-reverse;}

}