.scrolling-explainer-card{padding: 40px; margin-bottom: 40px;}
.scrolling-explainer{padding: 8px; border: 1px solid var(--Blue);}
.scrolling-explainer .button{width: 100%;  justify-content: space-between;}