.scrl-explainer-card{padding: 40px; border: 4px solid var(--White);}
.scrl-explainer{padding: 8px; border: 1px solid var(--Blue);}
.scrl-explainer .button{width: 100%;  justify-content: space-between;}
.scrl-explainer-card:nth-child(1):last-child{flex: 0 0 100%;}

/*-- media css starts here --*/
@media only screen and (min-width: 1300px){
    .scrl-explainer-card{flex: 0 0 350px;}
    .scrl-explainer-segments{flex: 1;}

}
@media only screen and (min-width: 1024px){
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){

}
@media only screen and (max-width: 1023px) and (min-width: 810px){

}
@media only screen and (max-width: 809px) and (min-width: 200px){

}