
.service-tier-banner-section{padding: 80px 0;}
.service-tier-banner-lt span.optional-text{ margin-bottom: 24px; font-size: 14px; line-height: 24px;}
.service-tier-banner-lt h1{text-transform: capitalize;}


ul.service-tier-order{margin: 0 0 39px; gap: 25px;}
ul.service-tier-order li{font-size: 18px;}
ul.service-tier-order li::before{content: ''; top: 0; left: -13px; width: 2px; height: 20px; background-color: var(--Text-Gray); border-radius: 1px; opacity: 0.5; font-weight: 700; position: absolute; transform: rotate(20deg);}
ul.service-tier-order li:first-child::before{display: none;}
ul.service-tier-order li a{display: block;}
ul.service-tier-order{margin: 0 0 35px;}

.jumpto-main{gap: 40px;}
.jumpto-rt{flex: 1;}
.jumpto-lt span{ position: relative; padding: 6px 8px; background-color: var(--White);  font-size: 16px; font-weight: 700; line-height: 100%;}
.jumpto-lt span:before{content: ''; position: absolute; top: 0; right: -15px; width: 0; height: 0; border-style: solid; border-width: 16px 0 16px 15px; border-color: transparent transparent transparent var(--White);}
.jumpto-rt{gap: 24px;}
ul.jumpto-links{margin: 0; gap:24px}
ul.jumpto-links > li{margin-bottom: 0;}
ul.jumpto-links > li::before{display: none;}
ul.jumpto-links > li a{gap:8px; font-weight: 700; color: var(--Black); line-height: 100%; display: flex; font-size: 18px;}
ul.jumpto-links > li i{ font-size: 20px; width: 20px; line-height: 100%; height: 20px;}



.service-tier-block:nth-child(2) .number{color: var(--Green);}
.service-tier-block .number{font-size: 32px; letter-spacing: -0.64px; font-weight: 600; line-height: 100%; font-family: var(--heading-font);  color: var(--Black); margin-bottom: 6px;}
.service-tier-block span{font-size: 16.37px; font-weight: 700; line-height: 100%; display: block;}
.service-tier-block {flex-direction: column; align-items: center; display: flex;  height: 100%; min-height: 167px; justify-content: center; padding: 20px; width: 100%; }
.service-tier-block p{font-size: 14px; line-height: 100%; color: var(--Text-Gray); margin-top: 7px;} 
.service-tier-block.full-block{flex: 1;}
.service-tier-block.full-block::before{display: none;}

.page-template-service-tier-3-fund-detail .service-tier-banner-main{padding: 0 0 44px;}
.page-template-service-tier-3-fund-detail .service-tier-block::after, .page-template-service-tier-3-fund-detail .service-tier-block::before{background-color: var(--RF-Orange);}
.page-template-service-tier-3-fund-detail .service-tier-block .number {margin:  14px  0 0;}
.page-template-service-tier-3-fund-detail .service-tier-block:nth-child(2) .number { color: var(--Pure-Red); }


.service-fund-details-wrap{padding: 40px 0;}
.service-fund-details-wrap h2{font-size: 32px; line-height: 125%; letter-spacing: -0.64px; margin-bottom: 16px;}
.service-fund-row{gap: 20px;}
.service-fund-list{ background-color: var(--White); padding: 16px 12px 28px; text-align: center; min-height: 160px;}
.service-fund-list span{font-size: 14px; line-height: 100%; font-weight: 400; color: var(--Text-Gray); display: block; margin-bottom: 16px;}
.service-fund-list h3{margin-bottom: 0; font-size: 32px; line-height: 100%; letter-spacing: -0.64px; display: flex; align-items: center; height: 100%; justify-content: center;}

.service-holdings-row{gap: 20px;}
.service-holdings-wrap h2 { font-size: 32px; letter-spacing: -.64px; line-height: 125%; margin-bottom: 16px; }
.service-holdings-list{background-color: var(--White); padding: 32px 12px 16px; flex: 0 0 calc(20% - 16px); text-align: center;}
.service-holdings-list h3{font-size: 32px; line-height: 200%; margin-bottom: 14px; letter-spacing: -0.64px;}
.service-holdings-list span{font-size: 14px; line-height: 125%; font-weight: 400; color: var(--Text-Gray); display: block;}

.service-tier-fund-detail-wrap:after{top:0; width: 100%; height: 2px; display: block; border: none; border-radius: 1px; background-color: var(--RF-Orange); opacity: 0.25; position: absolute; content:"";}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .service-tier-banner-main{gap: 80px;}
    /* .service-tier-banner-lt{flex: 0 0 849px;}
    .service-tier-banner-rt{ flex: 0 0 calc(100% - 929px);} */
    .service-tier-banner-lt{flex: 1;}
    .service-tier-banner-rt{flex: 0 0 351px;}
    .service-tier-banner-lt h1{font-size: 48px; margin-bottom: 32px;}
    .service-tier-banner-lt  p{margin-bottom: 32px;}
    .service-tier-banner-lt .h2{font-size: 40px; margin-bottom: 42px;}
    .service-tier-blocks{background-color: var(--White);}
    
    .page-template-service-tier-3-fund-detail .service-tier-banner-lt p{margin-bottom: 38px;}

    .service-tier-block{ flex: 0 0 50%;}
    .service-tier-block::after, .service-tier-block::before{background-color: var(--RF-Red); content: ""; display: block; position: absolute;}
    .service-tier-block:nth-child(odd)::before{width: 1px; height: calc(100% + 16px); right: 0; top: -8px;}
    .service-tier-block::after{width: calc(100% + 16px); height: 1px; left: -8px; top: 0;}
    .service-tier-block:nth-child(-n+2)::after{display: none;}

    .service-fund-list{flex: 0 0 calc(14.28% - 17.5px);}


}

@media only screen and (max-width: 1199px) and (min-width: 1024px){
   .service-fund-list{flex: 0 0 calc(14.28% - 21.5px);}


}


@media only screen and (max-width: 1023px) and (min-width: 810px){
    .service-tier-banner-section{padding: 64px 0;}
    .service-tier-banner-main{display: block; }
    .service-tier-banner-lt{margin-bottom: 40px;}
    .service-tier-banner-rt{padding: 8px; }
    .service-tier-blocks{ gap: 17px; }
    .service-tier-block{  flex: 0 0 calc(25% - 13px); background-color: var(--White)}
    .service-tier-block::after{background-color: var(--RF-Red); content: ""; display: block; position: absolute; width: 1px; height: calc(100% + 16px); right: -8px; top: -8px;}
    .service-tier-banner-lt h1{font-size: 36px; margin-bottom: 32px;}
    .service-tier-banner-lt p{margin-bottom: 32px;}
    .service-tier-block:last-child::after{display: none;}

    .service-fund-list {flex: 0  0 calc(25% - 15px); flex-grow: 1;}
    .service-fund-list h3{font-size: 28px;}
    .page-template-service-tier-3-fund-detail .service-tier-banner-main { padding: 0 0 32px; }
    .service-fund-details-wrap { padding: 32px 0; }
    .service-holdings-list {padding: 28px 12px 15px;}
    .service-holdings-list h3 { font-size: 28px; margin-bottom: 11px;}
    .service-tier-block{min-height: 160px;}
}


@media only screen and (max-width: 809px) and (min-width: 200px){
    .service-tier-banner-section{padding: 40px 0 40px;}
    .service-tier-banner-main {  display: block; }
    .service-tier-banner-lt{margin-bottom: 32px;}
    .service-tier-banner-lt h1{font-size: 28px; margin-bottom: 25px;}
    .service-tier-banner-lt p{margin-bottom: 24px; font-size: 18px;}
    .jumpto-main .jumpto-lt{display: none; }
    ul.service-tier-order { margin: 0 0 22px; gap: 0; flex-wrap: nowrap; }
    ul.service-tier-order li{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: relative; font-size: 16px;}
    ul.service-tier-order li:first-child{min-width: 112px;}
    ul.service-tier-order li::before{left: 4px;}
    ul.service-tier-order li a{text-overflow: ellipsis; overflow: hidden;}
    ul.service-tier-order li:not(:first-child){padding-left: 17px;}
    .jumpto-main .jumpto-rt ul{display: none; }
    .service-tier-banner-btn { border: 1px solid var(--Text-Gray); cursor: pointer; justify-content: space-between; padding: 16px; transition: var(--b-transition); }
    .service-tier-banner-btn span{font-size: 16px; font-weight: 700; line-height: 150%; color: var(--Black)}

    .service-tier-blocks{background-color: var(--White);}
    
    .service-tier-block{ flex: 0 0 50%;}
    .service-tier-block::after, .service-tier-block::before{background-color: var(--RF-Red); content: ""; display: block; position: absolute;}
    .service-tier-block:nth-child(odd)::before{width: 1px; height: calc(100% + 16px); right: 0; top: -8px;}
    .service-tier-block::after{width: calc(100% + 16px); height: 1px; left: -8px; top: 0;}
    .service-tier-block:nth-child(-n+2)::after{display: none;}
    .service-tier-block .number{font-size: 24px; letter-spacing: -0.48px;}
    .service-tier-banner-lt span.optional-text {font-size: 16px;}

    
    .page-template-service-tier-3-fund-detail .service-tier-banner-main { padding: 0 0 32px;}
    .service-fund-details-wrap { padding: 24px 0; }
      .service-fund-details-wrap h2 {font-size: 24px;}
      .service-fund-list{flex: 0 0 160px;}
      .service-holdings-wrap h2 {font-size: 24px;}
      .service-holdings-list {flex: 0 0 160px;}

      .service-fund-row{flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden; width: calc(100% + 16px); padding-right: 16px; -ms-overflow-style: none; scrollbar-width: none; gap: 16px}
      .service-fund-row::-webkit-scrollbar{display: none;}

      .service-holdings-row{flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden; width: calc(100% + 16px); padding-right: 16px; -ms-overflow-style: none; scrollbar-width: none; gap: 16px}
      .service-holdings-row::-webkit-scrollbar{display: none;}

      .service-tier-banner-lt span.optional-text {margin-bottom: 20px;}
}