.service-who-main{padding: 80px 0; gap: 80px;}
.service-who-lt{padding: 40px; flex: 1; border: 1px solid var(--RF-Purple);}
.service-who-rt{padding: 40px; flex: 1;}
.service-who-desc{padding-bottom: 40px;}
.service-who-list-wrap{gap: 40px;}
.service-who-list{flex: 0 0 calc(50% - 20px);}
.service-who-list p{font-size: 16px;}
.service-who-desc h4{font-size: 40px;}
.service-who-lt hr, .service-who-rt hr{width: 64px; background-color: var(--RF-Purple); margin:  0 0 18px;}
.service-who-lt .service-icon em{font-size: 40px; margin-bottom: 16px; font-weight: 300; color: var(--RF-Purple)}
.service-who-rt .service-icon em{font-size: 40px; margin-bottom: 16px; font-weight: 300; color: var(--Text-gray); opacity: 0.5;}
.service-who-list h5{margin-bottom: 8px;}



@media screen and (max-width: 809px) and (min-width: 200px) {
.service-who-main{padding: 40px 0; display: block;}
.service-who-lt{padding: 24px; margin-bottom: 24px;}
.service-who-desc{padding-bottom: 10px;}
.service-who-list-wrap {display: block;}

.service-who-rt{padding: 24px;}

.service-who-desc h4 { font-size: 28px; }




}