
.service-tier-banner-main{padding: 80px 0;}
.service-tier-banner-lt span.optional-text{color: var(--RF-Red); margin-bottom: 24px; font-size: 14px; line-height: 24px;}

.jumpto-main{gap: 56px;}
.jumpto-rt{flex: 1;}
.jumpto-lt span{ position: relative; padding: 6px 8px; background-color: var(--White); color: var(--RF-Red); font-size: 16px; font-weight: 700; line-height: 100%;}
.jumpto-lt span:before{content: ''; position: absolute; top: 0; right: -15px; width: 0; height: 0; border-style: solid; border-width: 16px 0 16px 15px; border-color: transparent transparent transparent var(--White);}
.jumpto-rt{gap: 24px;}
ul.jumpto-links{margin: 0; gap:24px}
ul.jumpto-links > li{margin-bottom: 0;}
ul.jumpto-links > li::before{display: none;}
ul.jumpto-links > li a{gap:8px; font-weight: 700; color: var(--Black); line-height: 100%; display: flex; font-size: 18px;}
ul.jumpto-links > li i{color: var(--RF-Red); font-size: 20px; width: 20px; line-height: 100%; height: 20px;}


.service-tier-banner-rt{background-color: var(--White);}
/* .service-tier-blocks{display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; gap: 0; border-collapse: collapse;} */
.service-tier-block { align-items: center; display: flex; flex: 0 0 50%; flex-direction: column; height: 100%; min-height: 167px; justify-content: center; padding: 20px; width: 100%; }
.service-tier-block:nth-child(2) .number{color: var(--Green);}
.service-tier-block .number{font-size: 32px; letter-spacing: -0.64px; font-weight: 600; line-height: 100%; font-family: var(--heading-font);  color: var(--Black); margin-bottom: 6px;}
.service-tier-block span{font-size: 16.37px; font-weight: 700; line-height: 100%; display: block;}



/*-- media css starts here --*/


@media only screen and (min-width: 1024px){
.service-tier-banner-main{gap: 80px;}
.service-tier-banner-lt{flex: 0 0 849px;}
.service-tier-banner-rt{ flex: 0 0 calc(100% - 929px);}
.service-tier-banner-lt h1{font-size: 48px; margin-bottom: 32px;}
.service-tier-banner-lt  p{margin-bottom: 32px;}


.service-tier-block:nth-child(odd){border-right: 2px solid var(--RF-Red); border-top: 2px solid var(--RF-Red);}
.service-tier-block:nth-child(even){border-top: 2px solid var(--RF-Red);}
.service-tier-block:first-child{border-top: none;}
.service-tier-block:nth-child(2){border-top: none;}
}