

ul.side-by-links{margin: 0; gap: 25px; opacity: 0;}
ul.side-by-links li{margin: 0;}
ul.side-by-links li::before{display: none;}

.side-by-icon{max-width: 80px;}
.side-by-icon svg{max-width: 80px; object-fit: contain;}





/* media css starts here */
@media only screen and (min-width: 1024px){
    .side-by-main{padding: 80px 0;}
    .side-by-side{}
    ul.side-by-links{width: fit-content; top: 50%; transform: translateY(-50%);}
    .side-by-side{flex: 1;}
    .side-by-ipad{max-width: 680px; padding: 88px 176px;}
    .side-by-side:nth-child(1) .side-by-ipad{margin-left: auto;}
    .side-by-side:nth-child(3) .side-by-ipad{margin-right: auto;}
}
@media only screen and (min-width: 810px){

}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .side-by-main{flex-direction: column; gap: 40px; padding: 40px 24px;}
    .side-by-side{gap: 48px; flex-direction: row-reverse;}
    .side-by-right{flex-direction: row;}
    .side-by-bg{position: relative; flex: 0 0 350px; height: auto;}
    .side-by-ipad{flex: 1;}
    .side-by-text{text-align: left;}
    ul.side-by-links{position: static;}
    .side-by-head{gap: 20px; flex-direction: row;}
    .side-by-title{flex: 1;}
    .side-by-title span.optional-text{margin-bottom: 0;}
    .side-by-title h2{margin: 0; font-size: 36px;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .side-by-main{flex-direction: column; gap: 40px; padding: 40px 24px;}
    .side-by-side{gap: 24px;}
    .side-by-bg{position: relative;}
    .side-by-text{text-align: left;}
    ul.side-by-links{position: static;}
    .side-by-head{gap: 20px; flex-direction: row;}
    .side-by-title{flex: 1;}
    .side-by-title span.optional-text{margin-bottom: 0;}
    .side-by-title h2{margin: 0;}
}







