
.subcribe-section{background-color: var(--Background-Gray);}
.subscribe-main{border: 2px solid var(--Blue); padding: 6px;}
.subscribe-inner{background-color: var(--Black);}
.subscribe-text:nth-child(1):last-child{flex: 0 0 100%;}
.subscribe-text h3{color: var(--White); margin-bottom: 0;}

.subscribe-email .form_field_wrapper{padding: 8px; gap: 8px; border: 1px solid var(--White);}
body .subscribe-email .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 0;}
body .subscribe-email .frm_forms .frm_form_fields .frm_form_field input{background-color: rgba(255, 255, 255, 0.20); background-image: url("../../images/at-icon.svg"); background-repeat: no-repeat; background-position: 16px 50%;  border: none; border-radius: 0; font-size: 1.125rem; color: var(--White); padding: 16px 16px 16px 40px;}
body .subscribe-email .frm_forms .frm_form_fields .frm_form_field input:focus{background-color: rgba(255, 255, 255, 0.20) !important; color: var(--White) !important;}
body .subscribe-email .frm_forms .frm_form_fields .frm_form_field input::placeholder{color: var(--White); font-weight: 400; }
body .subscribe-email .frm_forms .frm_form_fields .frm_form_field .frm_submit button{border: none; font-size: 1rem; padding: 19.5px 20px;}
body .subscribe-email .frm_forms .frm_form_fields .form_field_wrapper .frm_form_field:first-child{display: flex; flex: 1;}
body .subscribe-email .frm_forms form .frm_required_field div.frm_error { bottom: -25px; right: auto; left: 0; }
body .subscribe-email .with_frm_style .frm_message p { color: var(--White);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .subscribe-wrap{padding-bottom: 80px;}
    .subscribe-inner{gap: 64px; padding: 32px;}
    .subscribe-text{flex: 0 0 568px;}
    .subscribe-email{flex: 0 0 calc(100% - 632px);}
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .subscribe-text{flex: 0 0 400px;}
    .subscribe-email{flex: 0 0 calc(100% - 464px);}
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .subscribe-wrap{padding-bottom: 40px;}
    .subscribe-inner{gap: 20px; padding: 20px;}
    .subscribe-text{flex: 100%;}
    .subscribe-email{flex: 100%;}
}
@media screen and (max-width: 809px) and (min-width: 200px) {
    .subscribe-text h3{font-size: 32px; line-height: 40px; letter-spacing: -0.64px;}
    body.category-news-updates .subscribe-text h3,
    body.single-post .subscribe-text h3{font-size: 24px; line-height: 30px; letter-spacing: -0.48px;}
    body .subscribe-email .form_field_wrapper > .form-field{width: 100%;}
    body .subscribe-email .frm_forms .frm_form_fields .frm_form_field input{padding: 13px 16px 13px 40px;}
    body .subscribe-email .frm_forms .frm_form_fields .form_field_wrapper .frm_form_field:first-child{display: block;}
    body .subscribe-email .frm_forms .frm_form_fields .frm_form_field .frm_submit button{padding: 16.5px 20px; }
}