

.team-mem-main{padding: 80px 0;}
.team-mem-heading{margin:  0 0 40px;}

.team-mem-thumb{height: 100%;}
.team-mem-info{ padding:80px 24px 24px; width: 100%; justify-content: space-between;}
.team-mem-info{background: linear-gradient(to bottom, transparent, var(--Black));}
.team-mem-list{transition: var(--b-transition);}
.team-mem-list > a{color: var(--White); display: block; width: 100%; height: 100%;}
.team-mem-list > a:hover, .team-mem-list > a:hover h3{color: var(--Blue);}
.team-mem-list > a:hover .team-info-desc span{color: var(--White);}

.team-mem-list:hover  .team-info-pos i{transform: translateX(5px); } 
.team-info-desc h3{ margin-bottom: 0; line-height: 100%; color: var(--White); transition: var(--b-transition);}
.team-info-desc h3 a{color: var(--White);}
.team-info-desc h3 a:hover{color: var(--Blue);}

.team-info-desc span{font-size: 16px; color: var(--White-50); transition: var(--b-transition);}
.team-info-desc span:hover{color: var(--White);}
.team-info-btn{border-left: 1px solid var(--Blue); padding-left: 10px; width: fit-content; align-items: center; display: flex;}
.team-info-btn em{font-size: 24px; color: var(--Blue); transition: var(--b-transition)}
.team-info-btn em:hover{color: var(--White);transition: var(--b-transition);}
.team-mem-list > a:hover .team-info-btn em{transform: translateX(8px);}
.team-info-btn.no-desc{display: none;}
.team-mem-short-main { border: 2px solid var(--Blue); padding: 6px; }
.team-mem-inner{background-color: var(--White); padding: 40px; justify-content: space-between; gap: 40px; box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.15);}
.team-mem-text span{margin: 7px 0 5px;}
.team-mem-text h3{margin-bottom: 0;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .team-mem-row{margin: 0 0 40px; gap: 40px;}
    .team-mem-list{flex: 0 0 calc(33.33% - 27px);}
    .team-info-desc{flex: 1; }
      
      .team-mem-inner-lt{gap: 24px; flex: 0 0 calc(100% - 300px); flex-grow: 1;}
      .team-mem-inner-rt{flex: 0 0 260px; display: flex; justify-content: flex-end; }
      .team-mem-icon{flex: 0 0 64px;}
      .team-mem-text{flex: 1;}

      .page-template-campaign  .team-mem-text { flex: 0 0 calc(100% - 104px);}
      .page-template-campaign  .team-mem-inner-rt { flex: 0 0 260px; align-items: center; display: flex; flex-direction: column; gap: 8px}
  

  }

  @media only screen and (max-width: 1199px) and (min-width: 1024px){
    .team-mem-inner{gap: 24px;}
    .team-mem-icon{flex: 0 0 64px;}
    .team-mem-text{flex: 0 0 calc(100% - 88px);}
    .team-mem-inner-lt{gap: 24px; flex: 0 0 calc(100% - 225px); }
    .team-mem-inner-rt{flex: 0 0 200px;}


  }


  @media only screen and (max-width: 1023px) and (min-width: 810px){
    .team-mem-main{padding: 64px 0;}
    .team-mem-row{margin: 0 0 32px; gap: 32px;}
    .team-mem-list{flex: 0 0 calc(50% - 16px);}
    .team-mem-inner{display: block;}
    .team-mem-inner-lt{gap: 24px; margin-bottom: 32px;}
    .team-mem-icon{flex: 0 0 64px;}
    .team-mem-text{flex: 0 0 calc(100% - 88px);}
    .team-mem-text h3{font-size: 28px;}



  }

  @media only screen and (max-width: 809px) and (min-width: 200px){
    .team-mem-main{padding: 40px 0;}
    .team-mem-list{margin-bottom: 24px;}
    .team-mem-heading { margin: 0 0 24px; }
    .team-mem-filter ul.filter-links > li > a {padding: 14px 13px 10px;}
    .team-mem-row{display: block;}

    body.page-template-team .team-mem-icon{text-align: center;}
    .team-mem-icon{width: 100%; margin-bottom: 16px;}
    body.page-template-team .team-mem-inner {text-align: center;}
    .team-mem-inner {padding: 24px; display: block;}
    .career-short-section .team-mem-inner{box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.15);}
    .team-mem-text span {font-size: 16px; line-height: 150%;}
    .team-mem-inner-lt {margin-bottom: 24px;}
    body.page-template-careers .team-mem-inner-lt {margin-bottom: 40px;}
    body.page-template-careers .team-mem-inner-rt .button{width: 100%;}

    body.page-template-team .team-mem-text{text-align: center;}
    .team-mem-text{width: 100%;}
    ul.filter-links {margin-bottom: 0;}

    .career-short-section .team-mem-short-wrap{padding-bottom: 24px;}
  }


