.page-template-campaign .scrl-explainer-main {padding: 80px 0 168px;}

.page-template-campaign .team-mem-inner{box-shadow: 0 12px 32px 0 var(--Black-15);}
.page-template-campaign .team-mem-icon { flex: 0 0 80px; }
.page-template-campaign  .team-mem-text { flex: 0 0 calc(100% - 104px);}
.page-template-campaign  .team-mem-inner-rt { flex: 0 0 260px; align-items: center; display: flex; flex-direction: column; gap: 8px}