
.faqs-main.no_accordion{display: block; padding-bottom: 68px;}
.faqs-text span.optional-text{margin-bottom: 22px;}
.faqs-text h1{margin-bottom: 26px;}
.faqs-desc{margin-bottom: 40px;}
.faqs-desc hr[data-animate]{margin-bottom: 24px;}

form.srch-faqs-form{margin-bottom: 37px;} 
form.srch-faqs-form input{padding: 15px 50px 15px 16px; font-size: 18px; line-height: 18px; font-weight: 400; color: var(--Black);}
form.srch-faqs-form input::placeholder{color: var(--Black-50);}
button[type="submit"].srch-faqs-btn{right: 16px; top: 50%; transform: translateY(-50%); padding: 0; background-color: transparent; color: var(--Blue);}
button[type="submit"].srch-faqs-btn:hover{color: var(--Black);}

ul.faqs-links{margin: 0 0 35px;}
ul.faqs-links li{margin: 0 0 9px;}
ul.faqs-links li::before{display: none;}
ul.faqs-links li a{gap: 8px;}
ul.faqs-links li a i{color: var(--Blue);}
ul.faqs-links li a:hover i{transform: translateX(8px);}
ul.faqs-links li a.current{color: var(--Blue);}
ul.faqs-links li a.current i{opacity: 0; visibility: hidden;}

.faqs-text h2 a{color: var(--Blue);}
.faqs-text h2 a:hover{color: var(--Black);}
.faqs-text h2.h5{margin-bottom: 9px;}


/* media css starts here */
@media only screen  and (min-width: 1024px){
    .faqs-main{padding: 78px 0 18px; grid-template-columns: 350px auto;}
    .faqs-text{padding-top: 2px;}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .faqs-main{padding: 78px 0 18px; display: block;}
    .faqs-text{padding-bottom: 64px;}
    .faqs-text span.optional-text{font-size: 16px;}
    .faqs-text h1{font-size: 28px;}
    .faqs-text{font-size: 14px;}
    ul.faqs-links{margin: 0;}
    ul.faqs-links li a{font-size: 16px;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .faqs-main{padding: 41px 0 18px; display: block;}
    .faqs-text{padding-bottom: 24px;}
    .faqs-text span.optional-text{font-size: 16px;}
    .faqs-text h1{font-size: 28px;}
    .faqs-text{font-size: 14px;}
    ul.faqs-links{margin: 0;}
    ul.faqs-links li a{font-size: 16px;}
}