
.faqs-main.no_accordion{display: block; padding-bottom: 68px;}
.faqs-main.block{display: block;}
.faqs-text span.optional-text{margin-bottom: 22px;}
.faqs-text h1{margin-bottom: 26px;}
.faqs-desc{margin-bottom: 40px;}
.faqs-desc hr[data-animate]{margin-bottom: 24px;}

form.srch-faqs-form{margin-bottom: 37px;} 
form.srch-faqs-form input{padding: 15px 50px 15px 16px; font-size: 1.125rem; line-height: 18px; font-weight: 400; color: var(--Black);}
form.srch-faqs-form input::placeholder{color: var(--Black-50);}
button[type="submit"].srch-faqs-btn{right: 16px; top: 50%; transform: translateY(-50%); padding: 0; background-color: transparent; color: var(--Blue);}
button[type="submit"].srch-faqs-btn:hover{color: var(--Black);}

ul.faqs-links{margin: 0 0 35px;}
ul.faqs-links li{margin: 0 0 6px;}
ul.faqs-links li::before{display: none;}
ul.faqs-links li a{gap: 8px;}
ul.faqs-links li a em{color: var(--Blue);}
ul.faqs-links li a:hover em{transform: translateX(8px);}
ul.faqs-links li a.mPS2id-clicked, ul.faqs-links li a.current{color: var(--Blue);}
ul.faqs-links li a.current em{opacity: 0; visibility: hidden;}

.faqs-text h2 a{color: var(--Blue);}
.faqs-text h2 a:hover{color: var(--Black);}
.faqs-text h2.h5{margin-bottom: 9px;}

.page-template-service-tier-2 .faqs-desc h2, .page-template-service-tier-1 .faqs-desc h2{margin-bottom: 26px;}
.page-template-service-tier-2 .faqs-right .accordion-list{margin-bottom: 16px;}

/* media css starts here */
@media only screen  and (min-width: 1024px){
    .faqs-main{padding: 78px 0 75px; gap: 80px;}
    .faqs-text{padding-top: 2px; width: 350px;}
    .faqs-right{width: calc(100% - 430px);}
    .faqs-text:nth-child(1):last-child, .faqs-right:nth-child(1):last-child{width: 100%;}
}
@media only screen and (max-width: 1023px) and (min-width: 810px){
    .faqs-main{padding: 78px 0 40px; display: block;}
    .faqs-text{padding-bottom: 64px;}
    .faqs-text span.optional-text{font-size: 1rem;}
    .faqs-text h1{font-size: 1.75rem;}
    .faqs-text{font-size: 0.875rem;}
    ul.faqs-links{margin: 0;}
    ul.faqs-links li a{font-size: 1rem;}
}
@media only screen and (max-width: 809px) and (min-width: 200px){
    .faqs-main{padding: 41px 0 40px; display: block;}
    .faqs-text{padding-bottom: 24px;}
    .faqs-text span.optional-text{font-size: 1rem;}
    .faqs-text h1{font-size: 1.75rem;}
    .faqs-text{font-size: 0.875rem;}
    ul.faqs-links{margin: 0;}
    ul.faqs-links li a{font-size: 1rem;}
    .faqs-desc{margin-bottom: 24px;}
    form.srch-faqs-form{margin-bottom: 44px;}
    .faqs-mobile{padding-top: 40px;}

    .faqs-main .hide-tablet.hide-desktop h2{margin-bottom: 8px;}
}