/* .speaker-main{padding:0  0 40px;} */
.speaker-list{gap: 8px; margin-bottom: 40px;}
.speaker-icon{flex:0 0 20px; position: relative; }
.speaker-icon i{font-size: 20px;}
.speaker-line { background-color: var(--Blue);  height: calc(100% - 31px); left: 50%; position: absolute; top: 34px; width: 1px; transform: translateX(-50%); }
.speaker-text{flex: 0 0 calc(100% - 28px); padding-top: 5px; }
.speaker-text span{font-size: 0.875rem; line-height: 125%; letter-spacing: 0.7px; text-transform: uppercase; font-family: var(--body-font); display: block; margin-bottom: 12px; font-weight: 700;}
.speaker-wrap h4{font-size: 32px; line-height: 40px; letter-spacing: -0.64px; margin-bottom: 40px;}
.speaker-wrap hr{margin-top: 40px;}
.speaker-list:last-child{margin-bottom: 0;}

.speaker-list.blue .speaker-icon{color: var(--Blue);}
.speaker-list.blue .speaker-text span{color: var(--Blue);}
.speaker-list.blue .speaker-line{background-color: var(--Blue);}

.speaker-list.orange .speaker-icon{color: var(--RF-Orange);}
.speaker-list.orange .speaker-text span{color: var(--RF-Orange);}
.speaker-list.orange .speaker-line{background-color: var(--RF-Orange);}


.speaker-list.green .speaker-icon{color: var(--RF-Aquamarine);}
.speaker-list.green .speaker-text span{color: var(--RF-Aquamarine);}
.speaker-list.green .speaker-line{background-color: var(--RF-Aquamarine);}


@media screen and (max-width: 809px) and (min-width: 200px) {
.speaker-wrap h4 {font-size: 24px; margin-bottom: 20px;}
.speaker-wrap hr{margin: 20px 0;}
.speaker-list{margin-bottom: 24px;}

}