
.news-updates-post-main{padding: 80px 0 0; margin-top: -268px;}
.news-updates-post-article{padding: 64px;}
.news-updates-post-article h3{margin-top: 38px;}
.news-updates-post-article ul{margin: 0 0 40px 26px;}
.news-top-line{left: 62px; top: -12px; width: calc(100% - 124px); height: 12px; }

.news-updates-post-article .caption-line{opacity: 0.6;}
.news-updates-post-article .caption-line::before, .news-updates-post-article .caption-line::after { background-color: var(--RF-Aquamarine);}

.news-updates-post-article   .default-line-wrap.green { padding: 22px 0 40px; }
.news-updates-post-article .default-line-wrap.green .default-line-in{border-left: 2px solid var(--RF-Aquamarine);}
.default-line-wrap.green .default-line-text h4 { color: var(--RF-Aquamarine);}
.default-line-wrap.green .default-line-text a.text-link i { color: var(--RF-Aquamarine); }

blockquote.green{color: var(--RF-Aquamarine); margin: 38px 0 38px;}

.view-block{padding: 22px; margin-top: 38px; justify-content: space-between;}
.cta-view{gap: 4px; color: var(--Black); background-color: var(--White); font-size: 12px; padding: 0 6px;}
.view-block:hover .cta-view{background-color: var(--Blue); color: var(--White);}
.cta-view em{top: -1px; position: relative; color: var(--RF-Aquamarine); font-size: 14px; font-weight: 900;}
.view-block:hover .cta-view em{color: var(--White);}
.view-block.open .cta-view span{display: none;}
.view-block.open .cta-view span.hide{display: block;}
.view-block.open .cta-view em{top: 0.5px;}
.view-block.open .cta-view em::before{content: "\f077";}
.news-updates-post-audio {padding-bottom: 40px;}
.news-updates-post-audio span{color: var(--Black); text-transform: uppercase; font-size: 14px; margin-bottom: 14px;}
.view-txt-lt{flex:  1; padding-right: 10px; font-size: 16px; color: var(--Text-Gray2); font-weight: 600;}
.view-txt-rt{flex: 0 0 62px;}
.news-updates-post-article p a:hover{color: var(--RF-Aquamarine);}
.news-updates-post-article p a{text-decoration-color: var(--RF-Aquamarine);}

/*-- media css starts here --*/
@media only screen and (min-width: 1440px){
  .news-updates-post-main{gap: 0 144px;}
  .news-updates-post-article{flex: 0 0 calc(100% - 320px); transform: translateX(160px);}
  .news-updates-post-aside{width: 56px; top: 0; display: block; left: 160px;}
}
@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .news-updates-post-main{gap: 0 72px;}
  .news-updates-post-article{flex: 0 0 calc(100% - 160px); transform: translateX(80px);}
  .news-updates-post-aside{width: 56px; top: 0; display: block; left: 40px;}
}
@media screen and (max-width: 1023px) and (min-width: 810px) {
  .news-updates-post-main { margin-top: -80px; display: block;} 
  .news-updates-post-article { flex: 0 0 100%; margin: 0 auto; padding: 40px;}
  .news-top-line{width: calc(100% - 80px); left: 40px;}
  .news-updates-post-section .container{padding: inherit;}
  .news-updates-post-aside{position: relative;}
}
@media screen and (max-width: 809px) and (min-width: 200px) {
  .news-updates-post-main{display: block; margin-top: -80px;}
  .news-updates-post-article { flex: 0 0 100%; margin: 0 auto; padding: 24px 24px 20px;}
  .news-top-line{width: 100%; left: 0;}
  .news-updates-post-section .container{padding: inherit;}
  .news-updates-post-audio { padding-bottom: 24px; }

  .news-updates-post-audio span{font-size: 14px;}
  .news-updates-post-article h3 { margin-top: 22px; }
  .news-updates-post-article ul { margin: 0 0 23px 26px; }
  .news-updates-post-article .default-image-caption { margin-bottom: 28px; }
  .news-updates-post-article .default-line-wrap { padding: 22px 0 30px; }
  .news-updates-post-article .default-line-text { padding: 22px 0 19px 22px; }
  .news-updates-post-article blockquote { margin: 24px 0; }

  .view-txt-lt{flex:  1;}
  .view-txt-rt{flex: 0 0 62px;}
  .news-updates-post-article ol{margin: 0 0 28px 26px;}
  .news-updates-post-article ol > li::before {left: -20px; top: -1px;}
}