.news-update-video-gated-section{margin-top: -205px;}
.news-update-video-article{padding: 64px;}
.news-update-video-article  h2{font-size: 48px; font-weight: 600; line-height: 125%; letter-spacing: -0.96px;}
.news-update-video-article .news-post-banner-row { gap: 4px; ; margin-bottom: 40px; color: var(--Blue); align-items: inherit; justify-content: inherit;}
.news-update-video-article  h3{font-family: 32px; font-size: 600; line-height: 40px; letter-spacing: -0.64px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1440px){
  .news-update-video-main{gap: 0 144px;}
  .news-update-video-article{flex: 0 0 calc(100% - 320px); transform: translateX(160px);}
  .news-update-video-aside{width: 56px; top: 0; display: block; left: 160px;}
}
@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .news-update-video-main{gap: 0 72px;}
  .news-update-video-article{flex: 0 0 calc(100% - 160px); transform: translateX(80px);}
  .news-update-video-aside{width: 56px; top: 0; display: block; left: 40px;}
}