.speaker-main{padding:0  0 40px;}
.speaker-list{gap: 8px; margin-bottom: 40px;}
.speaker-icon{flex:0 0 20px; position: relative; }
.speaker-icon i{font-size: 20px;}
.speaker-line { background-color: var(--Blue);  height: calc(100% - 31px); left: 50%; position: absolute; top: 31px; width: 1px; transform: translateX(-50%); }
.speaker-text{flex: 0 0 calc(100% - 28px)}
.speaker-text span{font-size: 14px; line-height: 125%; letter-spacing: 0.7px; text-transform: uppercase; font-family: var(--body-font);}
.speaker-wrap h4{font-size: 32px; line-height: 40px; letter-spacing: -0.64px; margin-bottom: 30px;}
.speaker-wrap hr{margin-top: 40px;}

.speaker-list.blue .speaker-icon{color: var(--Blue);}
.speaker-list.blue .speaker-text span{color: var(--Blue);}
.speaker-list.blue .speaker-line{color: var(--Blue);}

.speaker-list.orange .speaker-icon{color: var(--RF-Orange);}
.speaker-list.orange .speaker-text span{color: var(--RF-Orange);}
.speaker-list.orange .speaker-line{color: var(--RF-Orange);}


.speaker-list.green .speaker-icon{color: var(--RF-Aquamarine);}
.speaker-list.green .speaker-text span{color: var(--RF-Aquamarine);}
.speaker-list.green .speaker-line{color: var(--RF-Aquamarine);}