/*-- resource form page --*/
.doc-form-desc{margin-bottom: 40px;}
.doc-form-lists{gap: 20px;}
.doc-form-list{padding: 16px 16px 20px 24px; gap: 16px;}
.doc-form-line{width: 4px; right: auto; background-color: var(--Blue);}
.doc-form-list:hover .doc-form-line, .doc-form-list.current .doc-form-line{width: 8px;}
.doc-form-list:hover{ background-color: var(--Blue-80); }
.doc-form-list:hover .doc-form-icon{background-color: var(--Blue);}
.doc-form-list:hover .doc-form-icon path{stroke: var(--White);}

.doc-form-list.RF-Orange .doc-form-line{background-color: var(--RF-Orange);}

ul.ui-categorys{margin: 0; gap: 9px;}
ul.ui-categorys li{margin: 0;}
ul.ui-categorys li::before{display: none;}
ul.ui-categorys li a{padding: 8px 16px; color: var(--Text-Gray); display: block;}
ul.ui-categorys li a.current, ul.ui-categorys li a.current:hover{background-color: var(--Gray); color: var(--Text-Gray);}
ul.ui-categorys li a:hover{color: var(--Black); background-color: transparent;}
a.hover-orange:hover span.gray-line{background-color: var(--RF-Orange);}
a.hover-purple:hover span.gray-line{background-color: var(--RF-Purple);}

ul.doc-form-q{margin: 0; gap: 8px 16px;}
ul.doc-form-q li::before{display: none;}
ul.doc-form-q li::after{width: 1px; height: calc(100% - 2px); right: -8px; top: 1px; opacity: 0.25; background-color: var(--Text-Gray); border-radius: 0; content: ""; position: absolute;}
ul.doc-form-q li:last-child::after{display: none;}
ul.doc-form-q li{margin: 0;}
ul.doc-form-q li a{color: var(--Text-Gray);}
ul.doc-form-q li a:hover{color: var(--Blue);}



.doc-form-formrt{flex: 1;}
.doc-form-formrt span.fs-18{margin-bottom: 2px; display: block;}
.doc-form-icon{width: 48px; height: 48px; padding: 8px;}
.doc-form-icon svg{width: 32px; height: auto; object-fit: contain;}
.doc-form-icon svg path{transition: var(--b-transition);}

.ui-tier-2-row:not(:first-child){display: none;}

.no-results-message { font-size: 2rem; letter-spacing: -.64px; margin-bottom: 18px; color: var(--Black); font-weight: 600; line-height: 125%; font-family: var(--heading-font); }

ul.ui-categorys{justify-content: flex-start; flex-wrap: nowrap; overflow-x: auto; -ms-overflow-style: none; scrollbar-width: none;}
ul.ui-categorys::-webkit-scrollbar{display: none;}
ul.ui-categorys li{width: fit-content;}
ul.ui-categorys li a{white-space: nowrap;}

.doc-form-lists .h4{width: 100%;}
.doc-full-bg .doc-post-wrapper{background: var(--Gray); padding: 20px; display: flex; flex-direction: column; gap: 20px; width: 100%;}

.sub-cat-btn{color: var(--Text-Gray); display: block; padding: 8px 16px;}
.sub-cat-btn.current{background-color: var(--Gray); color: var(--Text-Gray);}

/* media css starts here */
@media only screen  and (min-width: 760px){
    .doc-form-rows{gap: 61px; padding-top: 21px;}
    .doc-form-report{flex: 1;}
    .doc-form-head{padding-bottom: 16px; gap: 32px;}
    .doc-form-title{width: fit-content;}
    ul.ui-categorys{flex: 1;}
    .doc-form-filter{gap: 9px;}
}
@media only screen  and (min-width: 1024px){
    .doc-form-main{padding: 80px 0 80px; gap: 80px;}
    .doc-form-aside{width: 350px;}
    .doc-form-article{width: calc(100% - 430px);}
    .doc-form-text h1{font-size: 3rem; margin-bottom: 27px;}
    .page-template-service-tier-3-fund-detail .doc-form-desc h2{margin-bottom: 25px;}

    .doc-form-2 .doc-form-list{flex: 0 0 calc(50% - 10px); }
}
@media screen and (max-width: 1259px) and (min-width: 1024px){
    .doc-form-main{gap: 60px;}
    .doc-form-aside{width: 300px;}
    .doc-form-article{width: calc(100% - 360px);}

    .doc-form-rows{padding-top: 0;}
    .doc-form-lists{flex-direction: column;}
    .doc-form-head{flex-direction: column; gap: 24px; padding-bottom: 36px; align-items: flex-start;}
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .doc-form-main{padding: 60px 0 60px; gap: 60px; flex-direction: column;}
    .doc-form-find{padding-top: 30px;}
    .doc-form-lists{flex-direction: column;}
    .doc-form-head{flex-direction: column; gap: 24px; padding-bottom: 36px; align-items: flex-start;}
    .doc-form-rows{gap: 40px;}
}
@media screen and (max-width: 759px) and (min-width: 200px){
    .doc-form-main{padding: 40px 0 42px; display: block;}
    .doc-form-aside{padding-bottom: 25px;}
    .doc-form-desc span.optional-text:not(.fs-16){font-size: 1rem;}
    .doc-form-desc hr{margin-bottom: 23px;}
    .doc-form-text h1{font-size: 2.25rem;}
    .doc-form-text{font-size: 0.875rem;}
    .doc-form-text span.optional-text.fs-16{padding-top: 7px;}
    .doc-form-rows{gap: 38px;}
    .doc-form-lists{flex-direction: column;}
    .doc-form-list{padding: 16px 16px 22px 24px;}
    .doc-full-bg .doc-form-list{padding: 16px 10px 22px 24px;}
    .doc-full-bg .doc-post-wrapper{padding: 20px 12px 20px 20px;}
    .doc-form-head{gap: 16px; padding-bottom: 16px; flex-direction: column; align-items: flex-start;}
    .doc-form-title{width: 100%;}
    .doc-form-find{padding-top: 37px;}

    .doc-form-report{flex: 1;}
    .doc-form-report a{word-break: break-all;}

    .doc-form-filter{gap: 9px;}
    ul.ui-categorys{flex: 1;}
    ul.ui-categorys li {width: fit-content;}
    ul.ui-categorys li a{font-size: 1rem; padding: 12px 16px;}
    .doc-form-formrt span.fs-18{font-size: 1rem; margin-bottom: 1px;}
    ul.doc-form-q li{font-size: 0.75rem;}
}
@media screen and (max-width: 374px) and (min-width: 200px){
    .doc-form-list{flex-direction: column; align-items: flex-start;}
    ul.doc-form-q li{font-size: 0.75rem;}
}