.page-template-service-tier-1 ul.action-links {padding: 40px 0 0;}
.page-template-service-tier-1 .about-intro-main { padding: 80px 0 0; }

.page-template-service-tier-1 .fund-groups-main::after{background-color: var(--RF-Purple); border: none; border-radius: 1px; top: 0; content: ""; display: block; height: 2px; margin: 12px 0; opacity: .25; position: absolute; width: 100%;}

.page-template-service-tier-1 .fund-groups-section.no-management-section .fund-groups-main::after{display: none;}


@media only screen and (min-width: 1024px) {
    .page-template-service-tier-1 .fund-groups-main{padding: 104px 0 80px;}

}

@media screen and (max-width: 809px) and (min-width: 200px) {
    .page-template-service-tier-1 .about-intro-main { padding: 20px 0 0; }

    .page-template-service-tier-1 .faqs-desc{margin-bottom: 0;}
    .page-template-service-tier-1 .faqs-right{margin-bottom: 24px;}

}