.page-template-service-tier-1 ul.action-links {padding: 40px 0 0;}
.page-template-service-tier-1 .about-intro-main { padding: 80px 0 0; }


@media only screen and (min-width: 1024px) {
    .page-template-service-tier-1 .management-wrap{padding-bottom: 13px;}
    .page-template-service-tier-1 .fund-groups-main{padding: 90px 0 80px;}

}

@media screen and (max-width: 759px) and (min-width: 200px) {
    .page-template-service-tier-1 .about-intro-main { padding: 20px 0 0; }

    .page-template-service-tier-1 .faqs-desc{margin-bottom: 0;}
    .page-template-service-tier-1 .faqs-right{margin-bottom: 24px;}

}