.asset-performance-main{padding: 80px 0 104px; gap: 80px;}
.asset-performance-lt{flex: 0 0 350px;}
.asset-performance-rt{flex: 1; padding: 40px; border: 2px solid var(--Background-Gray);}
.asset-performance-head h2{margin-bottom: 35px;}
.asset-performance-icon{width: 23px; height: 20px; vertical-align: top; display: inline-block;}
.asset-performance-icon img{top: -1px; position: relative; vertical-align: top; display: inline-block;}
.asset-performance-lists{gap: 16px}
.asset-performance-list:hover { background-color: var(--Blue-80); }
.asset-performance-list.current { background-color: var(--RF-Orange-10); }
.asset-performance-list.current svg path{fill: #D57800;}
.asset-performance-list.current .asset-performance-line { background-color: var(--RF-Orange);  width: 8px;}
.asset-performance-list{padding: 14px 16px 14px 24px; justify-content: space-between; cursor: pointer;}
.asset-performance-line { background-color: var(--RF-Orange); right: auto; width: 4px; }
.asset-performance-main:after{bottom:0; width: 100%; height: 2px; display: block; border: none; border-radius: 1px; background-color: var(--RF-Orange); opacity: 0.25; position: absolute; margin:0 0 12px;  content:"";}


.fund-detail-report-main{gap: 80px; padding: 80px 0;}
.fund-detail-report-aside .doc-form-desc hr{margin: 0 0 24px; background-color:  var(--RF-Orange);}


.doc-form-list.RF-Orange .doc-form-line{background-color: var(--RF-Orange);}
.doc-form-list.RF-Orange:hover .doc-form-icon {background-color: var(--RF-Orange);}
.doc-form-list.RF-Orange:hover { background-color: var(--RF-Orange-10); }

.doc-form-list.RF-Purple:hover { background-color: var(--RF-Purple-10); }
.doc-form-list.RF-Purple .doc-form-line{ background-color: var(--RF-Purple); }
.doc-form-list.RF-Purple:hover .doc-form-icon {background-color: var(--RF-Purple);}

.fund-detail-report-article .doc-form-row{margin-bottom: 56px;}
.doc-repo-list.RF-Orange .doc-repo-line{background-color: var(--RF-Orange);}
.doc-repo-list.RF-Orange:hover .doc-repo-icon {background-color: var(--RF-Orange);}
.doc-repo-list.RF-Orange:hover { background-color: var(--RF-Orange-10); }
.fund-detail-report-article .doc-form-report span{font-weight: 700;}

.fund-detail-report-article ul.ui-years li a {padding: 9px 15px;}
.fund-detail-report-article ul.ui-years li a:hover span.gray-line { background-color: var(--RF-Orange); }
.fund-detail-team{gap:16px}
 .fund-detail-image {width: 80px; height: 80px;  border: 4px solid var(--RF-Orange);}
.fund-detail-image figure{padding: 0;}
.fund-detail-image figure img{border-radius: 50%; max-width: 80px; max-height: 80px;}
.fund-detail-info h4{margin-bottom: 0; font-size: 1.25rem;}
.fund-detail-info h4 a:hover{color: var(--RF-Orange);}
.fund-detail-info  p{margin-bottom: 8px;}
/* .fund-detail-info  p:hover{color: var(--RF-Orange)} */

.fees-expenses-main{padding: 80px 0 104px; gap: 80px;}
.fees-expenses-lt{flex: 0 0 350px;}
.fees-expenses-lt:nth-child(1):last-child{flex: 0 0 100%;}
.fees-expenses-rt{flex: 0 0 calc(100% - 430px);}
.fees-expenses-lt h2{margin-bottom: 25px;}
.fees-expenses-lt hr{background-color: var(--RF-Orange); margin-bottom: 24px;}
table.fees-expenses-table{ margin: 0; border: none;}
table.fees-expenses-table tr:nth-child(odd){background-color: var(--Background-Gray);}
table.fees-expenses-table tr td{padding: 10px 16px 9px; border-bottom: 1px solid var(--Light-Gray); line-height: 150%;}
table.fees-expenses-table tr:nth-child(-n+3) td:first-child{font-weight: 700; color: var(--Black);}

table.fees-expenses-table tr:nth-child(odd) td{background-color: transparent;}
table.fees-expenses-table tr td:nth-child(1) strong{color: var(--Black);}
table.fees-expenses-table tr:first-child td{border-top: 1px solid var(--Light-Gray);}
table.fees-expenses-table tr td:last-child{font-weight: 400; color: var(--Text-Gray); font-size: 0.875rem;}
table.fees-expenses-table tr td:last-child strong{font-weight: 600; color: var(--Black); font-size: 1rem;}
table.fees-expenses-table tr:nth-child(n+4) td:first-child{padding-left: 32px;}
.fees-expenses-main::after{bottom:0; width: 100%; height: 2px; display: block; border: none; border-radius: 1px; background-color: var(--RF-Orange); opacity: 0.25; position: absolute; margin:0 0 12px;  content:"";}

.asset-performance-graph:not(:first-child){display: none;}
.ui-row-fund-details:not(:first-child){display: none;}

.fund-detail-report-aside.no-fund-article{flex: 0 0 100%;}

/* media css starts here */
@media only screen  and (min-width: 1200px){
    .asset-performance-graph canvas#assetPieChart{height: 500px !important; width: 500px !important;}
}
@media only screen  and (min-width: 1024px){
    .fund-detail-report-aside{flex: 0 0 350px}
    .fund-detail-report-article{flex: 0 0 calc(100% - 430px);}

    .asset-performance-graph{width: 100%; height: auto;}
    .asset-performance-graph canvas{width: 100% !important; height: 100% !important; margin: 0 auto;}
}
@media only screen and (min-width: 760px){
    table.fees-expenses-table tr td:nth-child(1){width: 308px; font-weight: 400; color: var(--Text-Gray);}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .asset-performance-graph canvas#assetPieChart{height: 400px !important; width: 400px !important;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .asset-performance-main{display: block; padding: 58px 0 76px;}
    .asset-performance-lt{flex: 100%; margin-bottom: 64px;}
    .asset-performance-lists{flex-direction: row; gap:  32px;}
    .asset-performance-list{flex: 0 0 calc(50% - 20px);}

    .fund-detail-report-main { padding: 40px 0 64px; }
    .fund-detail-report-aside ul.faqs-links{display: flex; flex-wrap: wrap; gap: 24px;}
    .fund-detail-report-aside ul.faqs-links li{margin: 0;}
    .fund-detail-report-aside ul.faqs-links + hr{margin-top: 38px;}
    .fund-detail-report-main { gap: 40px;}

    .fees-expenses-main { padding: 40px 0 74px; display: block;}
    .fees-expenses-lt{margin-bottom: 40px;}
    .asset-performance-rt{display: block;}
}

@media only screen and (max-width: 759px) and (min-width: 200px){

    .asset-performance-main {padding: 40px 0 66px; display: block;}
    .asset-performance-head h2 { margin-bottom: 16px; }
    .asset-performance-btn{border: 1px solid var(--Text-Gray); cursor: pointer; padding: 16px; transition: var(--b-transition); background-color: var(--Background-Gray);}
    .asset-performance-btn-left{padding-right: 32px; gap: 8px;}
    .asset-performance-btn em{top: 50%; right: 16px; transform: translateY(-50%);}
  
    .asset-performance-report em{font-size: 1.25rem; width: 20px; height: 20px;}
    .asset-performance-report-lt{display: flex; align-items: center; gap: 8px;}
    .asset-performance-lt{margin-bottom: 24px;}

    table.fees-expenses-table{padding-top: 10px;}
    table.fees-expenses-table tr td{font-size: 1rem; line-height: 150%;}
    table.fees-expenses-table tr td:first-child{width: 170px; line-height: 100%;}
    table.fees-expenses-table tr:nth-child(n+4) td:nth-child(2){padding-left: 20px;}
    

    .fund-detail-report-main {padding: 40px 0; display: block;}
    .fund-detail-report-article .doc-form-title h2{font-size: 2rem;}
    .fund-detail-report-article .doc-form-report span { margin-bottom: 8px; display: block; line-height: 100%;}
    .fund-detail-report-article .doc-repo-title h2{font-size: 2rem;}
    .fund-detail-report-article .doc-repo-head {gap: 20px;}
    .fund-detail-report-article ul.ui-years li a { padding: 12px 20px; }
    .fund-detail-report-article ul.faqs-links{margin: 24px 0 40px;}

    .fund-detail-report-aside .doc-form-desc h2{margin-bottom: 29px;}
    .fund-detail-report-aside .doc-form-desc + hr{margin: 0 0 24px;}

    .fees-expenses-main {padding: 40px 0 66px; display: block;}
    .asset-performance-line{display: none;}
    .current .asset-performance-line{display: block;}
    .asset-performance-btn.open em::before{content: "\f077";}
    .asset-performance-btn-left svg path{fill: var(--RF-Orange);}

    .fees-expenses-lt p{font-size: 0.875rem;}
    .asset-performance-rt{display: block; padding: 40px 8px;}
    .asset-mbl-graph canvas[data-conva="combo"]{height: 230px !important;}
    table.fees-expenses-table tr td:last-child strong{display: block;}
}