
.accordion-list.white { background-color: var(--White); } 
.accordion-list{margin-bottom: 18px;} 
.accordion-list:last-child { margin-bottom: 0; } 
.accordion-header{padding: 20px 64px 25px 21px; border: 1px solid transparent; color: var(--Black); font-size: 1rem; line-height: 150%; cursor: pointer; position: relative; font-weight: 700; z-index: 1;}  
.accordion-header::before, .accordion-desc::before{ transition: all 0.5s ease; width: calc(100% - 8px); height: calc(100% - 8px); top: 4px; left: 4px; background: var(--Gray); position: absolute; content: ""; display: block; z-index: -1;}
.accordion-header:hover{border-color: var(--Blue);}
.accordion-header.open, .accordion-header.open:hover{border-color: var(--Gray); border-bottom-color: transparent;}
.accordion-header:not(.open):hover::before{background: var(--Light-Blue);}

.accordion-list.RF-Orange:not(.open) .accordion-header:hover{border-color: var(--RF-Orange);}
.accordion-list.RF-Orange:not(.open) .accordion-header:hover::before { background: var(--RF-Orange-10); }
.accordion-list.RF-Orange .accordion-header svg path{fill: var(--RF-Orange);}

.accordion-list.RF-Red:not(.open) .accordion-header:hover{border-color: var(--RF-Red);}
.accordion-list.RF-Red:not(.open) .accordion-header:hover::before { background: var(--RF-Red-10); }
.accordion-list.RF-Red .accordion-header svg path{fill: var(--RF-Red);}

.accordion-list.RF-Yellow:not(.open) .accordion-header:hover{border-color: var(--Light-Brown);}
.accordion-list.RF-Yellow:not(.open) .accordion-header:hover::before { background: var(--Light-Brown-10); }
.accordion-list.RF-Yellow .accordion-header svg path{fill: var(--Light-Brown);}

.accordion-list.RF-Purple:not(.open) .accordion-header:hover{border-color: var(--RF-Purple);}
.accordion-list.RF-Purple:not(.open) .accordion-header:hover::before { background: var(--RF-Purple-10); }
.accordion-list.RF-Purple .accordion-header svg path{fill: var(--RF-Purple);}

.accordion-list.RF-Aquamarine:not(.open) .accordion-header:hover{border-color: var(--RF-Aquamarine);}
.accordion-list.RF-Aquamarine:not(.open) .accordion-header:hover::before { background: var(--RF-Aquamarine-10); }
.accordion-list.RF-Aquamarine .accordion-header svg path{fill: var(--RF-Aquamarine);}

.accordion-plus{left: auto; right: 20px; top: calc(50% + 1px); transform: translateY(-50%); max-width: 18px; flex-direction: column;}
.accordion-plus svg{max-width: 18px; object-fit: contain;}
.accordion-plus svg:not(:first-child){bottom: 4px; position: relative;}
.accordion-header:not(.open):hover svg:not(:first-child){bottom: 0;}
.accordion-header.open svg{ transform: rotate(180deg); } 

.accordion-content{border: 1px solid transparent; margin-top: -2px; display: none;} 
.open .accordion-content{border-color: var(--Gray); border-top-color: transparent; }
.accordion-desc {padding: 12px 29px 29px;}
.accordion-desc ul>li::before { top: 9px; left: -17px; width: 5px; height: 5px; } 
.accordion-desc ol { margin: 0 0 28px 27px; }
.accordion-desc ol > li::before { top: -4px; left: -20px; font-size: 1rem; line-height: 1.688rem; } 
.accordion-wrap { padding: 90px 0 20px; } 
.accordion-head { justify-content: space-between; gap: 20px; } 
.accordion-head-lt h3 { margin-bottom: 0; font-size: 2.5rem; }
.accordion-main:last-child{padding-bottom: 0;}

body.service-color-d57800 .accordion-list:not(.open) .accordion-header:hover{border-color: var(--RF-Orange) !important;}
body.service-color-d57800 .accordion-list:not(.open) .accordion-header:hover::before { background: var(--RF-Orange-10) !important;}
body.service-color-d57800 .accordion-list .accordion-header svg path{fill: var(--RF-Orange) !important;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .accordion-main{padding: 0 0 57px;}
    .accordion-main h3{margin-bottom: 26px;}
}
@media screen and (max-width: 1023px) and (min-width: 810px){
    .accordion-main{padding: 0 0 57px;}
    body.page-template-resource-faq .faqs-right .accordion-header{padding: 20px 64px 20px 20px;}
    body.page-template-resource-faq .faqs-right .accordion-desc {padding: 14px 28px 28px 28px;}
    .accordion-header{padding: 16px 64px 16px 16px;}
    .accordion-header span.ui-plus {left: 0; margin-bottom: 20px; display: block; position: relative;}
    .accordion-desc{padding: 1px 24px 24px 23px;}
    .accordion-wrap { padding: 50px 0 20px; }
    .accordion-head-lt h3 {font-size: 2rem;}
}
@media screen and (max-width: 809px) and (min-width: 200px){
    .accordion-main{padding: 0 0 35px;}
    body.page-template-resource-faq .faqs-right .accordion-header{padding: 20px 64px 20px 20px;}
    body.page-template-resource-faq .faqs-right .accordion-desc { padding: 14px 28px 28px 28px; font-size: 0.75rem; }
    .accordion-header{padding: 16px 64px 16px 16px; font-size: 0.875rem;}
    .accordion-header span.ui-plus {left: 0; margin-bottom: 20px; display: block; position: relative;}
    .accordion-list{margin-bottom: 9px;}
    .accordion-desc{padding: 16px 24px 24px 23px;}
    .accordion-wrap { padding: 50px 0 20px; }
    .accordion-head-lt h3 {font-size: 2rem;}
    .accordion-desc ol > li::before { font-size: 0.75rem; left: -17px; top: -4px; }
}
