:root{
    --Black: #000;
    --Black-5: rgb(0 0 0 / 5%);
    --Black-10: rgb(0 0 0 / 10%);
    --Black-25: rgb(0 0 0 / 25%);
    --Black-50: rgb(0 0 0 / 50%);
    --Black-75: rgb(0 0 0 / 75%);
    --White-25: rgb(255 255 255 / 25%);
    --White-50: rgb(255 255 255 / 50%);
    --White-60: rgb(255 255 255 / 60%);
    --White-90: rgb(255 255 255 / 90%);
    --White-75: #F5F9FF;
    --White: #ffffff;
    --body-text: #707372;
    --Background-Gray: #F2F2F2;
    --Blue: #2772DB;
    --Navy: #003066;
    --Light-Blue: #DFEBFB;
    --Text-Gray: #666666;
    --Light-Gray: #D0D0CE;
    --Gray: #F2F2F2;
    --Sky-Blue: #02B7CA;
    --Yellow: #FEC726;
    --Red: #B91919;
    --RF-Purple: #6F2276;
    --RF-Aquamarine: #006F64;
}