:root{
    --Black: #000;
    --Black-5: rgb(0 0 0 / 5%);
    --Black-10: rgb(0 0 0 / 10%);
    --Black-15: rgb(0 0 0 / 15%);
    --Black-20: rgb(0 0 0 / 20%);
    --Black-25: rgb(0 0 0 / 25%);
    --Black-50: rgb(0 0 0 / 50%);
    --Black-75: rgb(0 0 0 / 75%);
    --White-15: rgb(255 255 255 / 15%);
    --White-25: rgb(255 255 255 / 25%);
    --White-50: rgb(255 255 255 / 50%);
    --White-60: rgb(255 255 255 / 60%);
    --White-90: rgb(255 255 255 / 90%);
    --White-75: #F5F9FF;
    --White: #ffffff;
    --body-text: #707372;
    --Background-Gray: #F2F2F2;
    --Blue: #2772DB;
    --Blue-80: #dfebfb;
    --Navy: #003066;
    --Blue-Reverse: #337ADD;
    --Light-Blue: #DFEBFB;
    --Text-Gray: #666666;
    --Text-Gray2: #25282A;
    --Light-Gray: #D0D0CE;
    --Gray: #F2F2F2;
    --Sky-Blue: #02B7CA;
    --Yellow: #FEC726;
    --Yellow-2: #FFB81B;
    --Red: #B91919;
    --RF-Red: #8A2533;
    --RF-Purple: #6F2276;
    --RF-Aquamarine: #006F64;
    --Light-Brown:#C37C00;
    --red: #f00;
    --Dark: #2B2C2D;
    --RF-Orange: #D57800;
    --RF-Orange-10: #f9ebd9;
}