:root{
    --Black: #000;
    --Black-5: rgb(0 0 0 / 5%);
    --Black-8: rgb(0 0 0 / 8%);
    --Black-10: rgb(0 0 0 / 10%);
    --Black-15: rgb(0 0 0 / 15%);
    --Black-16: rgb(0 0 0 / 16%);
    --Black-20: rgb(0 0 0 / 20%);
    --Black-25: rgb(0 0 0 / 25%);
    --Black-50: rgb(0 0 0 / 50%);
    --Black-60: rgb(0 0 0 / 60%);
    --Black-75: rgb(0 0 0 / 75%);
    --White-15: rgb(255 255 255 / 15%);
    --White-16: rgb(255 255 255 / 16%);
    --White-25: rgb(255 255 255 / 25%);
    --White-50: rgb(255 255 255 / 50%);
    --White-60: rgb(255 255 255 / 60%);
    --White-75: rgb(255 255 255 / 75%);
    --White-90: rgb(255 255 255 / 90%);
    --White: #ffffff;
    --body-text: #707372;
    --Background-Gray: #F2F2F2;
    --Blue: #2772DB;
    --Blue-80: #dfebfb;
    --Navy: #003066;
    --Blue-Reverse: #337ADD;
    --Light-Blue: #DFEBFB;
    --Text-Gray: #666666;
    --Text-Gray2: #25282A;
    --Light-Gray: #D0D0CE;
    --Mid-Gray: #DADBDC;
    --Gray: #F2F2F2;
    --Sky-Blue: #02B7CA;
    --Yellow: #FEC726;
    --Yellow-2: #FFB81B;
    --Yellow-3: #E1AC3A;
    --Red: #B91919;
    --RF-Red: #8A2533;
    --RF-Red-10:  #ff57331a ;
    --RF-Purple: #6F2276;
    --RF-Purple-10: #6f22761a;
    --RF-Aquamarine: #006F64;
    --RF-Aquamarine-10: #006f641a;
    --Light-Brown:#C37C00;
    --Light-Brown-10:#c37c001a;
    --red: #f00;
    --Pure-Red:#E20000;
    --Pure-Green: #028123;
    --Dark: #2B2C2D;
    --RF-Orange: #D57800;
    --RF-Orange-10: #f9ebd9;
    --Rf-Orange-dark: #B16300;
    --Green: #028A25;
}