

.site-footer{background-color: var(--Black); color: var(--White);}
.footer-bg{z-index: -1; right: -61px; bottom: 0;}
.footer-bg img{opacity: 0.1;}
.footer-logo{max-width: 240px; margin-bottom: 32px;}
ul.footer-lists{margin: 0; flex-direction: column; align-items: end;}
ul.footer-lists > li{font-size: 18px; line-height: 22px; font-weight: 600; margin-bottom: 29px;}
ul.footer-lists > li:last-child{margin-bottom: 0;}
ul.footer-lists > li::before{display: none;}
ul.footer-lists > li > a{color: var(--White);}
ul.footer-lists > li > a:hover{color: var(--Blue);}


.footer-address-main{position: relative;}
.footer-address-main::before{content: ""; position: absolute; top: 0; left: -43.5px; height: 100%; width: 1px; background-color: var(--White); opacity: 0.25;}
.footer-address-main:first-child::before{display: none;}
.footer-flag{margin-bottom: 12px;}
.footer-flag img{max-width: 40px;}
.footer-flag-name{display: block; margin-bottom: 12px; font-size: 14px; letter-spacing: 0.7px; line-height: 17.5px; text-transform: uppercase;}
ul.footer-address{margin: 0; flex-direction: column; gap: 12px;}
ul.footer-address > li{font-size: 15px; line-height: 15px; font-weight: 700; margin-bottom: 0;}
ul.footer-address > li::before{display: none;}
ul.footer-address > li > a{color: var(--White); gap: 8px;}

.blue ul.footer-address > li > a:hover{color: var(--Sky-Blue);}
.yellow ul.footer-address > li > a:hover{color: var(--Yellow);}
.red ul.footer-address > li > a:hover{color: var(--Red);}

.blue ul.footer-address i{color: var(--Sky-Blue);}
.yellow ul.footer-address i{color: var(--Yellow);}
.red ul.footer-address i{color: var(--Red);}

ul.social-icons{margin: 0; align-items: flex-end; justify-content: end; gap: 16px;}
ul.social-icons li{display: inline-block; margin: 0;}
ul.social-icons li::before{display: none;}
ul.social-icons li a{border-radius: 50%; background-color: var(--White); color: var(--Black); font-size: 20px; height: 48px; line-height: 20px; position: relative; width: 48px; z-index: 1; }
ul.social-icons li a:hover{color: var(--Blue);}

.copyrights-text{font-size: 12px; line-height: 15px; color: rgba(255, 255, 255, 0.5);}
ul.copyrights-menu{margin: 0;}
ul.copyrights-menu > li{font-size: 12px; line-height: 15px; margin: 0; padding: 0 20px; border-left: 1px solid rgba(255, 255, 255, 0.25);}
ul.copyrights-menu > li:first-child{padding-left: 0; border: none;}
ul.copyrights-menu > li:last-child{padding-right: 0;}
ul.copyrights-menu > li::before{display: none;}
ul.copyrights-menu > li > a{color: rgba(255, 255, 255, 0.5);}
ul.copyrights-menu > li > a:hover{color: var(--Blue);}


@media screen and (min-width: 1024px) {
    .footer{padding: 80px 0 40px;}
    .footer-top{margin-bottom: 61px;}
    .footer-top-lt{flex: 0 0 680px;}
    .footer-top-rt{flex: 0 0 calc(100% - 680px);}
    .footer-row {justify-content: space-between; margin-bottom: 80px;}
    .footer-row-lt{gap: 87px; flex: 0 0 680px;}
    .footer-row-rt{flex: 1; align-items: end; display: flex;}
    .copyrights-main{justify-content: space-between;}
}

@media screen and (max-width: 1199px) and (min-width: 1024px){
    .footer-row-lt{gap: 64px;}
    .footer-address-main::before{left: -32px;}
}

@media screen and (max-width: 1023px) and (min-width: 810px) {
    .footer{padding: 40px 0;}
    .footer-bg{bottom: -5px; right: -10px; z-index: -1; max-width: 418px;}
    .footer-top{margin-bottom: 61px;}
    .footer-top-lt{flex: 0 0 calc(100% - 190px);}
    .footer-top-rt{flex: 0 0 190px;}
    .footer-row {justify-content: space-between; margin-bottom: 80px;}
    .footer-row-lt{gap: 41px; flex: 0 0 calc(100% - 112px);}
    .footer-row-rt{flex: 0 0 112px;}
    .footer-address-main::before{left: -20.5px;}
    .copyrights-main{justify-content: space-between;}
    ul.copyrights-menu > li{padding: 0 8px;}
}

@media screen and (max-width: 809px) and (min-width: 200px) {
    .footer{padding: 40px 0;}
    .footer-top{margin-bottom: 40px;}
    .footer-top-lt{width: 100%; margin-bottom: 32px;}
    .footer-top-rt{width: 100%;}
    ul.footer-lists{align-items: flex-start; gap: 16px;}
    ul.footer-lists > li{width: 100%; margin-bottom: 0;}
    ul.footer-lists > li > a{font-size: 16px; line-height: 24px; font-weight: 600; justify-content: space-between; align-items: center;}
    ul.footer-lists > li:first-child > a:hover{color: var(--Black);}
    ul.footer-lists > li > a.btn-transparent{color: var(--White);}
    ul.footer-lists > li > a.btn-transparent:hover{color: var(--Blue);}
    ul.footer-lists > li:nth-child(n+3){display: none;}
    .footer-flag-name{display: none;}
    .footer-address-main{width: 100%; display: flex; gap: 12px;}
    .footer-address-main::before{display: none;}
    .footer-flag{margin-bottom: 0; flex: 0 0 85px;}
    .footer-flag img{max-width: 85px; max-height: 48px;}
    ul.footer-address{flex-direction: row;}
    ul.footer-address i{font-size: 20px;}
    ul.footer-address > li{flex: 1;}
    .blue ul.footer-address > li > a{border: 1px solid var(--Sky-Blue); }
    .yellow ul.footer-address > li > a{border: 1px solid var(--Yellow); }
    .red ul.footer-address > li > a{border: 1px solid var(--Red); }
    ul.footer-address > li > a{font-size: 16px; font-weight: 700; display: block; line-height: 16px; margin-bottom: 0; justify-content: space-between; border: 1px solid var(--Sky-Blue); align-items: center; display: flex; padding: 13px 12px;}
    .footer-row{gap: 40px; margin-bottom: 40px;}
    .footer-row-lt, .footer-row-rt{width: 100%;}
    .footer-row-lt{gap: 20px;}
    ul.social-icons{gap: 29.6px; justify-content: center;}
    ul.social-icons li a{height: 64px; width: 64px;}

    .copyrights-main{justify-content: center; gap: 9px;}
    .copyrights-text{text-align: center;}
    ul.copyrights-menu{margin: 0; justify-content: center; gap: 9px 0;}
    ul.copyrights-menu > li{border: none;}
    ul.copyrights-menu > li:nth-child(2n) {border-left: 1px solid hsla(0,0%,100%,.25); padding-right: 0;}
    ul.copyrights-menu > li:nth-child(2n + 1){padding-left: 0;}
    
}

@media screen and (max-width: 479px) and (min-width: 200px) {
    .copyrights-main {max-width: 250px; margin: 0 auto;}
}
@media screen and (max-width: 389px) and (min-width: 200px) {
    ul.social-icons{gap: normal; justify-content: space-between;}
    ul.footer-address > li > a{font-size: 14px; padding: 15px 12px;}
    ul.footer-address i{font-size: 14px;}
}