
.modal-window{display: none; opacity: 0.75; width: 100%; height: 100%; top: 0; left: 0; position: fixed; background: var(--Black); backdrop-filter: blur(4px); z-index: 1200;}
.modal-main{display: none; width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 1202; overflow-y: auto;}

.modal-center{height: 100%;}
.modal-container{padding: 12px;}
.modal-text{color: var(--Text-Gray);}
.modal-text .h2{margin-bottom: 8px; color: var(--Blue); font-size: 3rem; line-height: 3.75rem; font-weight: 800; letter-spacing: -0.48px; }
.modal-close{ right: 0; top: 0; width: 32px; height: 32px; background: var(--Blue); cursor: pointer; }
.modal-close:hover{background: var(--Navy); }

body .modal-form .frm_forms .frm_form_fields .frm_submit button.frm_button_submit{width: 100%;}
body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_radio{display: block; width: 100%;}
body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_radio label{padding: 0; width: 100%; display: block; text-align: center; cursor: auto;}
body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_radio label input{display: none !important;}
body .modal-form .frm_style_formidable-style.with_frm_style .frm_error_style{display: none;}

body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_radio label{font-size: 14px; line-height: 21px; display: block; color: var(--Text-Gray);}

.modal-text ul{margin: 0 0 36px 24px;}
.modal-text ul > li{margin-bottom: 6px;}
.modal-text ul > li::before { color: var(--Blue); content: "\f058"; font-family: "Font Awesome 6 Pro"; font-size: 16px; left: -24px; width: auto; height: auto; background-color: transparent; top: 50%; transform: translateY(-50%); }
.modal-gray-btns{padding: 7px; border: 1px solid var(--Blue);}
.modal-gray-btns .button{gap: 8px; justify-content: space-between;}

/*-- media css starts here --*/
@media only screen and (min-width: 810px){
    body .modal-form .frm_forms .frm_form_fields .frm_submit{padding-top: 8px;}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field .frm_primary_label{display: none;}
}
@media only screen and (min-width: 1024px){
    .modal-main{padding: 56px;}
    .modal-content{padding: 48px; gap: 48px;}
    .modal-content.gap-80{gap: 80px;}
    .modal-text{flex: 0 0 350px;}
    .modal-text:nth-child(1):last-child{flex: 1;}
    .modal-form{flex: 1;}
    .modal-text.modal-left{flex: 0 0 254px;}
    body .modal-form .frm_forms .frm_form_fields .frm_fields_container{gap: 26px;}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field.frm_half{width: calc(50% - 13px);}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_radio label{margin-top: -18px;}
}
@media only screen and (min-width: 1200px){
    .modal-container{max-width: 1024px;}
}
@media screen and (max-width: 1199px) and (min-width: 200px){
    .modal-container{max-width: 100%; }
}
@media screen and (max-width: 1023px) and (min-width: 200px){
    .modal-window{z-index: 9991200;}
    .modal-main{z-index: 9991202;}
}
@media screen and (max-width: 1023px) and (min-width: 810px){
    .modal-main{padding: 40px;}
    .modal-content{padding: 40px; gap: 40px; display: block;}
    .modal-text{padding-bottom: 40px;}
    body .modal-form .frm_forms .frm_form_fields .frm_fields_container{gap: 26px;}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field.frm_half{width: calc(50% - 13px);}
}
@media screen and (max-width: 809px) and (min-width: 200px){
    .modal-form{padding-top: 13px;}
    .modal-main{display: block; padding: 12px;}
    .modal-container{padding: 12px; max-width: 100%; height: auto; margin: 0; border-radius: 0; min-width: 100%;}
    .modal-content{padding: 22px 19px 20px; display: block;}
    .modal-text{font-size: 14px; line-height: 21px;}
    .modal-text ul{margin: 0 0 0 24px;}
    .modal-text .h2{font-size: 2rem; line-height: 2.5rem; letter-spacing: -0.32px;}
    body .modal-form .frm_forms .frm_form_fields .frm_fields_container{gap: 10px;}

    body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio{margin-bottom: 0;}

    body .modal-form .frm_forms .frm_form_fields .frm_submit{padding-top: 9px;}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field .frm_primary_label{display: none;}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_primary_label{display: none;}
    body .modal-form .frm_forms .frm_form_fields .frm_form_field.vertical_radio .frm_radio label{opacity: 0.75;}
}
@media screen and (max-width: 389px) and (min-width: 200px){
    body .modal-form .form_field_wrapper{display: block;}
}